#textdomain wesnoth-NRO

[scenario]
  	  name= _ "6 Mining"
	id=6_mining
	map_data="{~add-ons/NR_openword/maps/6_mining.map}"
	turns=35
	victory_when_enemies_defeated=no
	next_scenario=openwordl
	carryover_percentage=50
	{UNDERGROUND}	
[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 150 150 150 300}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin
	type=Peasant
        id=talin
        name=_ "Talin"
        canrecruit=yes
	recruit= Dwarvish Miner
	shroud=yes

  [/side]
 [side]
        no_leader=no
        side=2
	team_name=bats
        hidden=yes
	gold={ON_DIFFICULTY4 150 180 250 500}
        color=black
	type=Dread Bat
	canrecruit=yes
	recruit=Blood Bat

	#ifdef NIGHTMARE

	[ai]
             [goal]
                name=target
                [criteria]
                    side=3
                [/criteria]
                value=1
            [/goal]
            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=3
            [/goal]
        [/ai]

	#endif
    [/side]


[side]
        side=3
        controller=ai
        gold={ON_DIFFICULTY4 100 125 175 400}
        team_name=ants
        user_team_name= _ "ANTS"
        facing=nw
	type=Giant Ant Queen
        id=enemy
        name=_ "Ant Queen"
        canrecruit=yes
	recruit=Giant Ant, Soldier Ant

  [/side]

[side]
        side=4
        controller=ai
        gold={ON_DIFFICULTY4 100 125 175 400}
        team_name=cavefolk
        user_team_name= _ "Cavefolk"
        facing=nw
	type=Ogre
        id=kilrar
        canrecruit=yes
	recruit=Ogre, Young Ogre, Goblin Spearman, Goblin Impaler, Goblin Rouser

  [/side]



	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Mine monster food."
           		     condition=win
                       [/objective]

			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			[gold_carryover]
				bonus=yes
           		    	carryover_percentage=50
         		[/gold_carryover]

			note=_ "You can recruit Dwarvish miners only in this scenario. Move dwarvish miner to hex with resource to mine it."
		[/objectives]
		[item]
			id="gold-coins-medium"
			image="items/gold-coins-medium.png"
			submerge=1
			visible_in_fog=no
			x=41
			y=7
		[/item]

		[item]
          		  image=rauta.png
        		    x,y=37, 36
       		 [/item]
		[item]
          		  image=rauta.png
        		    x,y=6, 5
       		 [/item]

		[item]
           		 image=kulta.png
        		    x,y=24, 33
      		  [/item]
		[item]
           		 image=kulta.png
        		    x,y=28, 39
      		  [/item]
		[item]
           		 image=kulta.png
        		    x,y=39, 13
      		  [/item]
		[label]
			category=""
			color="221,221,221"
			immutable=yes
			side=0
			team_name=""
			text="Monster Food"
			tooltip=""
			visible_in_fog=yes
			visible_in_shroud=no
			x=37
			y=36
		[/label]
		[label]
			category=""
			color="221,221,221"
			immutable=yes
			side=0
			team_name=""
			text="Monster Food"
			tooltip=""
			visible_in_fog=yes
			visible_in_shroud=no
			x=6
			y=5
		[/label]



	[/event]
	
[event]
        name=start
	[message]
            speaker=talin
            message= _ "We need to mine monster food from thundersticks here. Only Dwarvish Miners can mine it, so I need to recruit some."
        [/message]
        [message]
            speaker=tallin
            message= _ "We can also mine some gold."
        [/message]
    {RECALLCOMPANIONS}
	[unit]
		type=Giant Spider
		side=3
		id=spider
		x=5
		y=7
	[/unit]
	[/event]


	[event]
        	name=moveto
    	    	[filter]
			x, y=28, 39
		[/filter]
		[filter]
			type=Dwarvish Miner
		[/filter]
		[remove_item]
					[filter]
						x=28
						y=39
					[/filter]
				[/remove_item]
	[gold]
                side=$side_number
                amount=50
        [/gold]
        [message]
			speaker=narrator
			message= _ "You found gold."
	[/message]
	[progress_achievement]
		content_for=nro
		id=kulta
		amount=1
	[/progress_achievement]
	    [/event]

	[event]
        	name=moveto
    	    	[filter]
			x, y=24, 33
		[/filter]
		[filter]
			type=Dwarvish Miner
		[/filter]
		[remove_item]
					[filter]
						x=24
						y=33
					[/filter]
				[/remove_item]

		[gold]
                side=$side_number
                amount=50
        [/gold]
        [message]
			speaker=narrator
			message= _ "You found gold."
	[/message]
	[progress_achievement]
		content_for=nro
		id=kulta
		amount=1
	[/progress_achievement]
	    [/event]

	


	[event]
		name=last_breath
		[filter]
			id=talin
		[/filter]
		[message]
			spaeker=tain
			message= _ "Now we will never be free"
		[/message]
	[/event]
	
	[event]
			name=moveto
		[filter]
			x=39
			y=13
		[/filter]
		[filter]
			type=Dwarvish Miner
		[/filter]

		[message]
			speaker=narrator
			message= _ "You found gold"
		[/message]
		[gold]
			side=1
			amount=50
		[/gold]
		[remove_item]
					[filter]
						x=39
						y=13
					[/filter]
		[/remove_item]
	[progress_achievement]
		content_for=nro
		id=kulta
		amount=1
	[/progress_achievement]

	[/event]
	
	[event]
        	name=moveto
    	    	[filter]
			x, y=37, 36
		[/filter]
		[filter]
			type=Dwarvish Miner
		[/filter]
	        [message]
			speaker=narrator
			message= _ "You found monster food."
		[/message]
		[set_recruit]
			recruit= 
			side= 1
		[/set_recruit]
		[endlevel]
        	   	 result=victory
       		  	 bonus=yes 
					
                 [/endlevel]
	    [/event]

	[event]
        	name=moveto
    	    	[filter]
			x, y=6, 5
		[/filter]
		[filter]
			type=Dwarvish Miner
		[/filter]
	        [message]
			speaker=narrator
			message= _ "You found monster food."
		[/message]
		[set_recruit]
			recruit= 
			side= 1
		[/set_recruit]
		[endlevel]
        	   	 result=victory
       		  	 bonus=yes 
					
                 [/endlevel]
	    [/event]

	[event]
		name=moveto
		[filter]
			x=35
			y=5
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "Doors are closed."
		[/message]
		[message]
			speaker=talin
			message= _ "Force them open."
		[/message]
		{MODIFY_TERRAIN Urb^Pr/o  36 5)}
		[set_achievement]
			content_for=nro
			id=find
		[/set_achievement]
	[/event]

	{PICKUPPABLE_ITEM  id=spear 41 5 (race=human, saurian)  items/spear.png
	 _"You found Awesome Spear which give a new attack"
	_" This unit take Awesome Spear"
	_"Leave it to someone else."
	_"Only human or saurian unit can take this item."
	([object]
                          id=spearwielder
                            name=Spearwielder
                            description= _ "This unit has awesome spear."
                        
                        [effect]
                            apply_to=new_attack

                                description= _ "Awesome spear "
                                name=awesome_spear
                                type=pierce
                                range = melee
                                [specials]
                                    {WEAPON_SPECIAL_FIRSTSTRIKE}
                                [/specials]
                                icon=attacks/pike.png
                                damage=17
                                number=3

                        [/effect]
                        [effect]
                            apply_to=overlay
                            add=spear.png
                        [/effect]

                        [/object]
		)}

	{PICKUPPABLE_ITEM  id=ring_of_invisibility 38 7 side=1 items/ring-silver.png
	 _"You found ring of invisibility"
	_" This unit take ring of invisibility"
	_"Leave it to someone else."
	_"This unit cannot take this item."
	([object]
                        id=invisibility_ring
                            name= _ "Ring of Invisibility"
                            description= _ "This unit has Ring of Invisibility."
	[effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_NIGHTSTALK}
                {ABILITY_SKIRMISHER}
            [/abilities]
        [/effect]
       
                        [/object]
		)}

	{PICKUPPABLE_ITEM  id=bloodaxe 42 7 race=dwarf items/axe-2.png
	 _"You found Bloodaxe whch give a new attack"
	_" This unit takes Bloodaxe"
	_"Leave it to someone else."
	_"Only dwarf unit can take this item."
	([object]
                           id=bloodaxe
                            name= _ "Bloodaxe"
                            description= _ "This unit has bloodaxe."
					[effect]
                            apply_to=new_attack
                                description= _ "Bloodaxe "
                                name=bloodaxe
                                type=blade
                                range = melee
                                [specials]
                                    {WEAPON_SPECIAL_BERSERK}
                                [/specials]
                                icon=attacks/frenzy.png
                                damage=15
                                number=3

                        [/effect]                       
		 [/object]
		)}

		[event]
		name=moveto
		[filter]
			x=41
			y=7
			side=1
		[/filter]
		[message]
			speaker=$unit.id
			message= _ "We found some gold"
		[/message]
		[gold]
			side=1
			amount=50
		[/gold]
		[remove_item]
					[filter]
						x=41
						y=7
					[/filter]
				[/remove_item]

	[/event]

	{LASTBREATHTALIN}
[/scenario]




