#textdomain wesnoth-NRO



[scenario]
    id=10_Lake_Vrug
    name= _ "10 Lake Vrug"
    map_file=10_Lake_Vrug.map
    turns=41

    {DEFAULT_SCHEDULE_MORNING}
	carryover_percentage=40

    next_scenario=overworld 

    
    victory_when_enemies_defeated=no

    [side]
        type=Peasant
        id=talin
        name= _ "Talin"
        side=1
        canrecruit=yes
        controller=human
        team_name=alliance
        user_team_name=_"Talin"
        shroud=no
        fog=yes
        gold={ON_DIFFICULTY4 300 300 300 600}
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
        type=Orcish Warrior
        id=avo
        name= _ "Avo"
        side=2
        canrecruit=yes
        recruit=Troll Whelp, Orcish Archer, Orcish Assassin, Orcish Grunt, Goblin Spearman

	team_name=orcs
        user_team_name=_"Orcs"
        gold={ON_DIFFICULTY4 220 260 370 880}
    [/side]

    [side]
        type=Drake Warrior
        id=drake_leader
        side=3
        canrecruit=yes

        recruit=Drake Fighter, Sky Drake, Drake Clasher, Drake Burner
        team_name=drakes
        user_team_name=_"Drakes"
        gold={ON_DIFFICULTY4 140 160 200 500}
	[ai]
             [goal]
                name=target
                [criteria]
                    side=2
                [/criteria]
                value=1
            [/goal]
            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=3
            [/goal]
        [/ai]

    [/side]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Move any unit to the ruined library."
                condition=win
            [/objective]
            [objective]
                description= _ "Defeat orc leader to learn recruit Orcish Assassin (optional)"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Talin"
                condition=lose
            [/objective]
           [gold_carryover]
              	bonus=yes
             	carryover_percentage=40
          [/gold_carryover]

            {TURNS_RUN_OUT}
        [/objectives]

        [/event]

    [event]
        name=start
	{RECALLCOMPANIONS}
	[unit]
            type=White Mage
            id=morvin
            name= _ "Brother Morvin"
		gender=male
            unrenamable=yes
            x,y=50, 29
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
		{TRAIT_CONTINGENCY_THERESSA}
            [/modifications]
        [/unit]
	[unit]
            type=White Mage
            id=sister_theressa
            name= _ "Sister Theressa"
            unrenamable=yes
		gender=female
            x,y=50, 30
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
		{TRAIT_CONTINGENCY_MORVIN}
            [/modifications]
        [/unit]

        [message]
            speaker=morvin
            message= _ "The trail stops soon. We have almost reached Lake Vrug. There is a small island off the coast ahead that was once home to a great school of magic."
        [/message]
        [message]
            speaker=sister_theressa
            message= _ "It may be belonged to Clearnu the Wise or some of his students. So even it lay now in ruin it might include knowledge unknow in Alduin."
        [/message]
        {HIGHLIGHT_IMAGE 12 4 items/gohere.png ()}
        [label]
            x,y=12,4
            text = _ "Ruined library"
        [/label]
	[message]
            speaker=talin
            message= _ "Orcs here are not subjucated to Bloody sword. If we defeated their leader and allow him to live, they will likely join us."
        [/message]
    [/event]

   
    [event]
        name=moveto
        [filter]
            side=1
            [filter_location]
                x,y=12,4
            [/filter_location]
        [/filter]
       
        [message]
            speaker=talin
            message= _ "We manage to fight our way to ruined library. Let's see what is inside."
        [/message]
	#Morvin joins player in library
	[store_unit]
            [filter]
                id=morvin
            [/filter]
            kill=yes
            variable=morvin_stored 
        [/store_unit]

	
						[endlevel]
        	 					  result=victory
       							   bonus=yes
							carryover_add=yes
							next_scenario=overworld 
						[/endlevel]
					
    [/event]

	#Add this to every scenario where smalltalk is used. (expext 21 Abez)
[event]
        name=turn 18
        [fire_event]
		name=say_smalltalk
	[/fire_event]
[/event]
{GLOBAL__SMALLTALK}

    {HERODEATHS}
	{NEWRECRUIT recruit_mages (Mage) (We learned in library how to train mages. Now I can recruit them.)}
	{NEWRECRUIT recruit_assasins (Orcish Assassin) (Avo allow us to recruit Orcish assasins.)}

    [event]
        name=enemies defeated

        [message]
            speaker=talin
            message= _ "We defeated drakes and orcs joined us. Good work everyone. Now somebody need move the ruined library."
        [/message]
    [/event]
	
	[event]
		name=last_breath
		[filter]
			id=avo
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
			
		[message]
			speaker=avo
			message= _ " What do you even do in this island stupid pinkskins?"
		[/message]
		[message]
			speaker=talin
			message= _ " We search ruined library and try form alliance against Bloody Sword."
		[/message]
		[message]
			speaker=avo
			message= _ " Alliance against Bloody Sword? I am in!"
		[/message]
		[set_achievement]
			content_for=nro
			id=forced_alliance
		[/set_achievement]
		[modify_side]
			side=2
			team_name=alliance
		[/modify_side]
		[heal_unit]
			[filter]
				id=avo
			[/filter]
			amount=20
		[/heal_unit]
		[fire_event]
			name=recruit_assasins
		[/fire_event]
		[message]
			speaker=avo
			message= _ " As we do nothing with ruins, you can also use it"
		[/message]

	[/event]

	[event]
		name=last_breath
		[filter]
			id=drake_leader
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
		[message]
			speaker=drake_leader
			message= _ "This island belong to our eyrie. Now invaders take it from us."
		[/message]
		[if]
					[variable]
						name=drakes_defeated
						equals=clifss_of_thoria
					[/variable]
					[then]
						[message]
							speaker=talin
							message= _ "We have defeated drakes twice and showed our might to all."
						[/message]
						[set_achievement]
							content_for=nro
							id=drakeslayer
						[/set_achievement]

					[/then]
					[else]
						[set_variable]
							name=drakes_defeated
							value=lake_vrug
						[/set_variable]
						[message]
							speaker=talin
							message= _ "We defeated drakes. Now any orc tibe that want oppose Bloody Sword can see our might ad are more likely to ally with us."
						[/message]
					[/else]
	
		[/if]
	[/event]

	[event]
        name=time over
	
	[message]
            speaker=talin
            message= _ "We wasted too much time."
        [/message]
    [/event]

   [/scenario]
