#textdomain wesnoth-NRO


[scenario]
  	  name= _ "11 Library"
	id=11_library
	map_data="{~add-ons/NR_openword/maps/11_library.map}"
	turns=35
	victory_when_enemies_defeated=no
	next_scenario=openwordl_later
	carryover_percentage=50
	{INDOORS}	
[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 75 75 75 150}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin
	type=Peasant
        id=talin
	shroud=yes
        name=_ "Talin"
        canrecruit=yes
  [/side]

[side]
        side=2
        controller=ai
        gold={ON_DIFFICULTY4 120 150 200 480}
        team_name=wildlife
        user_team_name= _ "Wildlife"
        facing=nw
	type=Giant Ant Queen
        id=enemy
        name=_ "Ant Queen"
        canrecruit=yes
	recruit=Giant Ant, Soldier Ant

  [/side]

[side]
        side=3
        controller=ai
        gold={ON_DIFFICULTY4 120 150 200 480}
        team_name=guardians
        user_team_name= _ "Magic guards"
       no_leader=yes
  [/side]

#define GUARD X Y

	[unit]
		type=Granite Golem
		side=3
		x={X}
		y={Y}
		max_moves=0
	[/unit]
#enddef 




	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Find books to learn train mages."
           		     condition=win
                       [/objective]
			 [objective]
             		   description= _ "Find other useful things in library (optional)."
           		     condition=win
                       [/objective]

			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			note=_ "Move unit on book to read it."
		[/objectives]
		[set_variable]
					name=books_found
					value=0
		[/set_variable]
		
		{PLACE_IMAGE bookshelves.png 33 8}
		{PLACE_IMAGE bookshelves.png 34 7}
		{PLACE_IMAGE bookshelves.png 35 7}
		{PLACE_IMAGE bookshelves.png 38 10}
		{PLACE_IMAGE bookshelves.png 39 10}
		{PLACE_IMAGE bookshelves.png 40 9}
		{PLACE_IMAGE bookshelves.png 27 2}
		{PLACE_IMAGE bookshelves.png 28 1}
		{PLACE_IMAGE bookshelves_rotated.png 37 7}
		{PLACE_IMAGE bookshelves_rotated.png 38 7}
		[item]
			image="items/box.png"
			submerge=1
			visible_in_fog=no
			x, y=25, 29
		[/item]
		[item]
			image="items/box.png"
			submerge=1
			visible_in_fog=no
			x, y=25, 16
		[/item]
		[item]
			image="items/box.png"
			submerge=1
			visible_in_fog=no
			x, y=22, 24
		[/item]

		{GUARD 27 6}
		{GUARD 29 7}
		{GUARD 31 8}
		{GUARD 22 8}
		{GUARD 16 10}
		{GUARD 18 11}
		{GUARD 18 21}
		{GUARD 25 24}
	[/event]
	
[event]
        name=start
	[message]
            speaker=talin
            message= _ "We can learn to recruit mages in this ruined lirary."
        [/message]
        [message]
            speaker=talin
            message= _ "We can also found other useful things here."
        [/message]
    {RECALLCOMPANIONS}
	[unit]
		type=Giant Spider
		side=2
		id=spider
		x=15
		y=19
	[/unit]
	[/event]

	{BOOK 33 8}
	{BOOK 35 7}
	{BOOK 39 10}
	{BOOK 28 1}
	{BOOK 37 7}

	
	
	[event]
		name=last_breath
		[filter]
			id=enemy
		[/filter]
		[message]
			speker=talin
			message= _ "We defeated ant queen. Now we need to find books."
		[/message]
	[/event]
	[event]
		name=moveto
		[filter]
			x=25
			y=16
		[/filter]
		[message]
			speaker=$unit.id
			message= _ "We found some gold"
		[/message]
		[gold]
			side=1
			amount=50
		[/gold]
		[remove_item]
					[filter]
						x=19
						y=7
					[/filter]
				[/remove_item]

	[/event]
	[event]
		name=moveto
		[filter]
			x=25
			y=29
		[/filter]
		[message]
			speaker=narrator
			message= _ "Summoning elementals II Fire Guardians"
		[/message]
		
		[remove_item]
					[filter]
						x=19
						y=7
					[/filter]
		[/remove_item]
		[fire_event]
			name=recruit_fire
		[/fire_event]
		[set_achievement]
			content_for=nro
			id=fireguardians
		[/set_achievement]

	[/event]

	[event]
		name=moveto
		[filter]
			x=22
			y=24
		[/filter]
		[message]
			speaker=narrator
			message= _ "In this box is powered sapharine."
		[/message]
		
		[remove_item]
					[filter]
						x=22
						y=24
					[/filter]
		[/remove_item]
		[fire_event]
			name=recruit_granite
		[/fire_event]
	[/event]


	[event]
		name=leave
		first_time_only=no
		[message]
			speaker= talin
			message= _ " We can now recruit mages. Should we leave now?"
			[option]
				message = _ "Yes"
				[command]
					
					[if]
					[variable]
						name=clans_allied
						equals=first_part
					[/variable]
					[then]
						[endlevel]
        	 					  result=victory
       							   bonus=yes
							next_scenario=openwordl
						[/endlevel]
					[/then]
					[else]
						[endlevel]
        	 					  result=victory
       							   bonus=yes
							next_scenario=openwordl_later
						[/endlevel]
					[/else]
	[/if]

				[/command]
			[/option]
			[option]
				message= _ " No "
			[/option]
		[/message]
	[/event]

	
		
	[event]
		name=new turn
		first_time_only=no
		[if]
			[variable]
				name=books_found
				equals=5
			[/variable]
			[then]
				[fire_event]
					name=recruit_mages
				[/fire_event]

				[fire_event]
					name=leave
				[/fire_event]
			[/then]
 		[/if]
	[/event]

	
	#Add useful items

	{PICKUPPABLE_ITEM  id=heavy_armor 14 13 side=1 items/armor.png
	 _"You found heavy armor which protect but also slows."
	_" This unit take heavy armor"
	_"Leave it to someone else."
	_"This unit cannot take heavy armor"
	([object]
                        id=heavy_armor
                        name= _ "Heavy armor"
                        description= _ "This unit has heavy armor that both slower 1mp and protect unit."
                        [effect]
                            apply_to = movement
                            increase = - 1
                        [/effect]

                        [effect]
                            apply_to = resistance
                            replace = yes
                            [resistance]
                                fire=120
                                arcane=80
                                impact=70
                                blade=40
                                cold=120
                                pierce=40
                            [/resistance]
                        [/effect]
			[effect]
            apply_to=new_ability
            [abilities]
               {ABILITY_STEADFAST}
            [/abilities]
        [/effect]

                        [effect]
                            apply_to=overlay
                            add=armor.png
                        [/effect]
                        [/object]
		)}

{PICKUPPABLE_ITEM  id=holy_amulet 25 20 race=human items/ankh-necklace.png
	 _"You found Holy amulet which give unit's attacks arcane damage type"
	_" This unit take Holy amulet"
	_"Leave it to someone else."
	_"Only human unit can take this item."
	([object]
                          id=holy_amulet
                            name= _ "Holy amulet"
                            description= _ "Holy amulet gives arcane damage type to this unit's attacks."
                        [effect]
          			  apply_to=new_ability
         		   [abilities]
         		       {ABILITY_ARCANE}
        		    [/abilities]
   			     [/effect]
                        
                        [effect]
                            apply_to=overlay
                            add="arcane-icon.png"
                        [/effect]
                        [/object]
		)}


{PICKUPPABLE_ITEM  id=crystal_bow 32 25 (race=human, elf, orc) items/bow-crystal.png
	 _"You found Crystal bow"
	_" This unit Crystal bow"
	_"Leave it to someone else."
	_"Only human, elf or orc unit can take this item."
	([object]
                           id=crystal_bow
                            name= _ "Crystal bow"
                            description= _ " Crystal bow gives this unit strog ranged attack with arcane damage."
                         [effect]
                            apply_to=new_attack

                                description= _ "Crystal bow "
                                name=crystal_bow
                                type=arcane
				alternative_type=pierce
                                range = ranged
                                icon=attacks/bow-elven-magic.png
                                damage=14
                                number=3
			

                        [/effect]


                        
                        [effect]
                            apply_to=overlay
                            add=bow-crystal-2.png
                        [/effect]
                        [/object]
		)}

{PICKUPPABLE_ITEM  id=flaming_sword 19 8 side=1 items/flame-sword.png
	 _"You found Flaming sword"
	_" This unit Flaming Sword"
	_"Leave it to someone else."
	_"This unit cannot take this item."
	([object]
                           id=flaming_sword
                            name= _ "Flaming sword"
                            description= _ " Flaming sword is mgical melee weapon which makes fire damage."
                        [effect]
            apply_to=new_attack
            name="flaming sword"
            description= _ "flaming sword"
            icon=attacks/sword-flaming.png
            type=fire
            range=melee
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
            damage=8
            number=4
      		  [/effect]


                        
                        [effect]
                            apply_to=overlay
                            add=flame-sword-icon.png
                        [/effect]
                        [/object]
		)}





	{LASTBREATHTALIN}

	{NEWRECRUIT recruit_mages (Mage) (We learned how to train mages. Now I can recruit them.)}
	{NEWRECRUIT recruit_assasins (Orcish Assassin) (Avo allow us to recruit Orcish assasins.)}
	{CAMERINRECRUIT recruit_fire (Fire Guardian) (I can now recruit fire!!!)}
	{CAMERINRECRUIT recruit_granite (Granite Golem) (I can now recruit Granite giants!)} #Where Dalas found this?
[/scenario]


#define ABILITY_ARCANE
    [damage_type]
        id=arcane_damage_blessing
        name= _ "arcane blessing"
        description= _ "All attacks combine the arcane type with the type of the weapon used, so that resistance to arcane does not penalize the user."
        special_note=_ "This unit’s weapons are treated as arcane instead of the declared damage type if that would increase the damage."
        alternative_type=arcane
        affect_self=yes
    [/damage_type]
#enddef


