#textdomain wesnoth-NRO


[scenario]
  	  name= _ "11 Library"
	id=11_library
	map_data="{~add-ons/NR_openword/maps/11_library.map}"
	turns=35
	victory_when_enemies_defeated=no
	next_scenario=overworld 
	carryover_percentage=40
	 {DEFAULT_SCHEDULE}
	
[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 75 75 75 150}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin
	type=Peasant
        id=talin
	shroud=yes
        name=_ "Talin"
        canrecruit=yes
  [/side]

[side]
        side=2
        controller=ai
        gold={ON_DIFFICULTY4 120 150 200 480}
        team_name=wildlife
        user_team_name= _ "Wildlife"
        facing=nw
	type=Giant Ant Queen
        id=enemy
        name=_ "Ant Queen"
        canrecruit=yes
	recruit=Giant Ant, Soldier Ant

  [/side]

[side]
        side=3
        controller=ai
        gold={ON_DIFFICULTY4 120 150 200 480}
        team_name=guardians
        user_team_name= _ "Magic guards"
       no_leader=yes
  [/side]

#define GUARD X Y

	[unit]
		type=Granite Golem
		side=3
		x={X}
		y={Y}
		max_moves=0
	[/unit]
#enddef 



	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Find books."
           		     condition=win
                       [/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			note=_ "Move unit on book to read it."
		[/objectives]
		[set_variable]
					name=books_found
					value=0
		[/set_variable]
		[micro_ai]
        	    side=2
         	   ai_type=forest_animals
        	    action=add
	
        	    deer_type=Frost Stoat
            [filter_location]
                terrain=Gd, Aa, Ms, Ha, Hh, Aa^Fpa, Aa^Vaa 
            [/filter_location]
        [/micro_ai]

		
		
		[item]
			image="items/box.png"
			submerge=1
			visible_in_fog=no
			x, y=25, 16
		[/item]
		
		{GUARD 27 6}
		{GUARD 29 7}
		{GUARD 31 8}
		{GUARD 22 8}
		{GUARD 16 10}
		{GUARD 18 11}
		{GUARD 18 21}
		{GUARD 25 24}

	{GENERIC_UNIT 2 (Frost Stoat) 40 28}
	{GENERIC_UNIT 2 (Frost Stoat) 13 25}
	{GENERIC_UNIT 2 (Frost Stoat) 49 8}
	{GENERIC_UNIT 2 (Frost Stoat) 51  19}

	{GENERIC_UNIT 2 (Great Icemonax) 47 17}
	{GENERIC_UNIT 2 ( Icemonax) 46 27}
	{GENERIC_UNIT 2 ( Icemonax) 5 17}
	{GENERIC_UNIT 2 ( Icemonax) 37 5}
	{GENERIC_UNIT 2 ( Giant Spider) 24 29}
	[time_area]
            x=11-16,17-19,20-22,23-32,33-36,37-39, 40-41
            y=12-19,7-22 ,7-25 ,1-28 ,6-14 ,7-11, 9-12
            {UNDERGROUND}
        [/time_area]
	[/event]
	
[event]
        name=start
	[message]
            speaker=talin
            message= _ "We can learn to recruit mages in this ruined lirary."
        [/message]
        [unstore_unit]
                variable=morvin_stored
                x,y=35, 18
                animate=no
                find_vacant=yes
            [/unstore_unit]
    {RECALLCOMPANIONS}
	[unit]
		type=Giant Spider
		side=2
		id=spider
		x=15
		y=19
	[/unit]
	[/event]

	{BOOK 33 8} 
	{BOOK 35 7} 
	{BOOK 39 10} 
	{BOOK 28 1}
	{BOOK 37 7} 
	{BOOK 32 25} 
	{BOOK 24 28} 
	{BOOK 22 24}



	
	
	[event]
		name=last_breath
		[filter]
			id=enemy
		[/filter]
		[message]
			speker=talin
			message= _ "We defeated ant queen. Now we need to find books."
		[/message]
	[/event]

	 {TREASURY_GOLD_EVENT 25 16 50  ( _ "There is some gold in that box.")}

	[event]
		name=moveto
		[filter]
			x=35
			y=7
		[/filter]
		[message]
			speaker=narrator
			message= _ "Elemental guards form"
		[/message]
	{GENERIC_UNIT 3 (Granite Golem) 36 7}
	{GENERIC_UNIT 3 (Giant Mudcrawler) 35 8}
	{GENERIC_UNIT 3 (Fire Guardian) 37 9}
	{GENERIC_UNIT 3 (Fire Guardian) 37 9}

				

	[/event]

	


	[event]
		name=leave
		[message]
			speaker=morvin
			message= _ " We found enough books. We should investigate them more once we have returned to Alduin."
		[/message]
		[message]
			speaker=talin
			message= _ " We leave now."
		[/message]
						[endlevel]
        	 					  result=victory
       							   bonus=yes
							next_scenario=overworld 
							carryover_add=yes
						[/endlevel]		
	[/event]

	#Add this to every scenario where smalltalk is used. (expext 21 Abez)
[event]
        name=turn 7
        [fire_event]
		name=say_smalltalk
	[/fire_event]
[/event]
{GLOBAL__SMALLTALK}
		
	[event]
		name=new turn
		first_time_only=no
		[if]
			[variable]
				name=books_found
				equals=8
			[/variable]
			[then]
				[fire_event]
					name=recruit_mages
				[/fire_event]

				[fire_event]
					name=leave
				[/fire_event]
			[/then]
 		[/if]
	[/event]

	
		
{PICKUPPABLE_ITEM  id=holy_amulet 25 20 side=1 items/ankh-necklace.png
	 _"You found Holy amulet which give unit's attacks arcane damage type"
	_" This unit take Holy amulet"
	_"Leave it to someone else."
	_"This unit can take this item."
	([object]
                          id=holy_amulet
                            name= _ "Holy amulet"
                            description= _ "Holy amulet gives arcane damage type to this unit's attacks."
                        [effect]
          			  apply_to=new_ability
         		   [abilities]
         		       {ABILITY_ARCANE}
        		    [/abilities]
   			     [/effect]
                        
                        [effect]
                            apply_to=overlay
                            add="arcane-icon.png"
                        [/effect]
                        [/object]
		)}




	{HERODEATHS}

	{NEWRECRUIT recruit_mages (Mage) (We learned how to train mages. Now I can recruit them.)}

	[event]
        name=time over
	 [message]
            speaker=talin
            message= _ "We wasted too much time to find some books from library. How?"
        [/message]
    [/event]

	
[/scenario]

