#textdomain wesnoth-nr

[scenario]
    id=17_doors
    name= _ "17 Doors"
    map_file=17_doors.map
    turns=18
    next_scenario=openwordl_later

    {DEFAULT_SCHEDULE}

    {SCENARIO_MUSIC       breaking_the_chains.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}

    # Scenario story
    [story]
	[part]
            music=loyalists.ogg
            story= _ "Laden with gold, and filled with both elation at their victory and sadness for their departed comrades, Tallin and his people made their way back to the mines."
	background="story/landscape-mountains-01.webp"
        [/part]
        [part]
            story= _ "They found Hamel in a forge hammering away at a new axe. He greeted them warmly and arrangements were quickly made for all their food and accommodations, as well as care for the sick and wounded."
	background="story/landscape-mountains-01.webp"
        [/part]

        [part]
            music=loyalists.ogg
            story= _ "The humans rested for many days."
		background="story/landscape-mountains-01.webp"
        [/part]
        [part]
            story= _ "But the peace was not to last. Early one morning Tallin, sore from head to foot from his training, was startled awake by the blare of trumpets, the pounding of drums and the rattle of steel as the humans and dwarves hurried to arm themselves."
		background="story/landscape-mountains-01.webp"
        [/part]
        [part]
            story= _ "It was decided that Tallin’s men should sally forth to meet the orcs, while Hamel’s held open their retreat into the caves."
		background="story/landscape-mountains-01.webp"
        [/part]
    [/story]

    
    # Players side
[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 200 200 200 400}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	type=Peasant
        id=talin
        name=_ "Tallin"
        canrecruit=yes
        side=1

  [/side]   
    
    # Main enemy. Note the AI is set to be highly aggressive and target Tallin
    [side]
        side=2
        controller=ai
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Troll Whelp,Orcish Warrior,Orcish Crossbowman,Troll
        gold={ON_DIFFICULTY4 200 250 375 800}
        income={ON_DIFFICULTY4 10 15 25 60}
        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT6 ragged}

       	type=Orcish Sovereign
    	id=Rakshas
    	name= _ "Rakshas"
    	canrecruit=yes

        [ai]
            aggression=1.0
            caution=-1.0
            leader_value=50
            passive_leader=yes
        [/ai]

        # Place bad guy bodyguards
        {NOTRAIT_UNIT 2 "Orcish Warlord" 2 20} {GUARDIAN}
        {NOTRAIT_UNIT 2 "Orcish Warlord" 5 20} {GUARDIAN}
        {NOTRAIT_UNIT 2 "Orcish Warlord" 8 21} {GUARDIAN}
        {NOTRAIT_UNIT 2 "Orcish Warlord" 9 24} {GUARDIAN}
        {NOTRAIT_UNIT 2 "Orcish Warlord" 9 26} {GUARDIAN}
    [/side]
    # wmllint: validate-on

    # Sidekicks
    [side]
        side=3
        controller=ai
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Troll Whelp,Orcish Warrior,Orcish Crossbowman,Troll
        gold={ON_DIFFICULTY4 200 250 375 800}
        income={ON_DIFFICULTY4 10 15 25 60}
        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT6 ragged}

        type=Orcish Warlord
        id=Drung
        name= _ "Drung"
        canrecruit=yes
        profile=portraits/orcs/grunt-4.webp

        [ai]
            aggression=1.0
            caution=-1.0
            leader_value=50
        [/ai]
    [/side]

    [side]
        side=4
        controller=ai
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Troll Whelp,Orcish Warrior,Orcish Crossbowman,Troll
        gold={ON_DIFFICULTY4 200 250 375 800}
        income={ON_DIFFICULTY4 10 15 25 60}
        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT6 ragged}

        type=Orcish Warlord
        id=Poul
        name= _ "Poul"
        canrecruit=yes
        profile=portraits/orcs/grunt-5.webp

        [ai]
            aggression=1.0
            caution=-1.0
            leader_value=50
        [/ai]
    [/side]

    {STARTING_VILLAGES 1 4}

    [event]
        name=prestart

        [time_area]
            x=20-27,21-27,21-27,21-27,21-27,22-27,23,25-27,27
            y=1    ,2    ,3    ,4    ,5    ,6    ,7 ,7    ,8
            {UNDERGROUND}
        [/time_area]

        # Recall heroes and a supporter
        {RECALLCOMPANIONS}

	#Set variables for next fight
		[set_variable]
			name=herox
			value=49
		[/set_variable]
		[set_variable]
			name=heroy
			value=19
		[/set_variable]
		[set_variable]
			name=battles_fight
			add=1
		[/set_variable]
		[set_variable]
                   	   name=campaing_part
                           value=second
      		[/set_variable]
		[set_variable]
                   	   name=rakhas_attack
                           value=done
      		[/set_variable]
        
        [objectives]
            side=1

            [objective]
                description= _ "Resist until the end of turns"
                condition=win
                show_turn_counter=yes
            [/objective]

            {ALTERNATIVE_OBJECTIVE_BONUS ( _ "Defeat Rakshas, if you can...")}

            [objective]
                description= _ "Death of Tallin"
                condition=lose
            [/objective]

            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    # Do the talk
    [event]
        name=start

        [message]
            id=Rakshas
            message= _ "So I see you stinky-midgets and human-worms finally mustered up the courage to face me."
        [/message]

        [message]
            id=talin
            message= _ "Who are you, and what do you want?"
        [/message]

        [message]
            id=Rakshas
            message= _ "I am Emperor Rakshas and by the power of my sword, I lead the orcish people. I am here simply finishing the job Khazg Black-Tusk started years ago — the conquest of Knalga."
        [/message]

        [message]
            id=talin
            message= _ "Khazg tried and failed, and if you repeat his folly you will soon join him in the Land of the Dead!"
        [/message]

        [message]
            id=Rakshas
            # wmllint: local spelling Pah
            message= _ "Pah! I would like to see those cowardly dwarves try their treachery on me as they did on the Black-Tusk! In any case, those dwarves will soon be groveling at my feet and equipping my people with the finest weapons. With the dwarvish weapons, and the wealth of Knalga, nothing will be able to stop us. Even that little backwater that you humans call Wesnoth will be nothing but a burnt out, pillaged wreck before long."
        [/message]

        [message]
            id=talin
            message= _ "Boy, this guy sure has delusions of grandeur."
        [/message]

        [message]
            role=Supporter
            message= _ "I am not so sure it’s that simple, Tallin. Think back to those orcs at the Dwarven Doors, and those wolves on the way to the mines; they were both saying something about ‘The Master’."
        [/message]

        [message]
            id=talin
            message= _ "Yeah?"
        [/message]

        [message]
            role=Supporter
            message= _ "Well, unless I miss my guess, dreamy fellow would be him."
        [/message]

        [message]
            id=talin
            message= _ "Well, if that is so, then it’s time to end this menace once and for all! Fall on them, boys!"
        [/message]
    [/event]

    # Turn 3, if we didn't employ Russian army tactics yet Tallin gets upset
    [event]
        name=turn 3

        [if]
            [have_unit]
                side=1
                [filter_location]
                    [not]
                        time_of_day_id=underground
                    [/not]
                [/filter_location]
                count=0-5
            [/have_unit]
            [then]
                # Five or less units are outside, Tallin calls for all out charge. "URRAAA!"
                [message]
                    id=talin
                    message= _ "Come on, why are we just sitting here in these caves?! Have you forgotten already all these orcs have done to us! Let us spill their foul blood on the ground!"
                [/message]
		# Zlex opposes senseless tactic
		 [message]
                    id=Zlex
                    message= _ "We would lose too many our own. We should just stay in cave and defend."
                [/message]

            [/then]
        [/if]
    [/event]

    # Player somehow breached bad boss cordon, things are going too well, which means we need to throw an army of wolfriders at him
    [event]
        name=moveto
        [filter]
            side=1
            x=1-9
            y=10-27
        [/filter]

        [message]
            id=Rakshas
            # po: knights means wolf riders
            message= _ "So! Your forces are managing to advance upon me? Very impressive, but it shall do you no good. KNIGHTS!!"
        [/message]

        # Place 36 Goblin Knights. Yes. Thirty-six.
	
	
#ifndef EASY

        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
#endif
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 15 17}
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
#ifdef NIGHTMARE
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 11 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 7 16}
        {NOTRAIT_UNIT 2 "Goblin Knight" 26 22}
        {NOTRAIT_UNIT 2 "Goblin Knight" 26 22}
        {NOTRAIT_UNIT 2 "Goblin Knight" 26 22}
        {NOTRAIT_UNIT 2 "Goblin Knight" 26 22}
        {NOTRAIT_UNIT 2 "Goblin Knight" 26 22}
        {NOTRAIT_UNIT 2 "Goblin Knight" 25 26}
        {NOTRAIT_UNIT 2 "Goblin Knight" 25 26}
        {NOTRAIT_UNIT 2 "Goblin Knight" 25 26}
        {NOTRAIT_UNIT 2 "Goblin Knight" 25 26}
        {NOTRAIT_UNIT 2 "Goblin Knight" 25 26}
#endif

        [message]
            type=Goblin Knight
            message= _ "HAHAHA! GOT YOU, SUCKERS!"
        [/message]

        [message]
            id=Rakshas
            message= _ "CHARGE!!"
        [/message]

        [message]
            id=talin
            message= _ "Oh, hell! Form up, men, back to back! Don’t let them penetrate our ranks!"
        [/message]

        [message]
            id=Rakshas
            message= _ "That’s not all, my friends. GENERALS, CALL THE RESERVES!"
        [/message]

        [message]
            id=Drung
            message= _ "Oh yeah!"
        [/message]

        [message]
            id=Poul
            message= _ "HAHAHA!"
        [/message]

        [message]
            id=Drung
            message= _ "You are so dead, you human vermin!"
        [/message]

        [message]
            id=Poul
            message= _ "Oooooooh! Time to start the fun!"
        [/message]

        # And give bad guys 1500 gold each for a good measure. Yes,
        # Taurus is a sadist.
	#Let's decline amount in easier difficulties
        [gold]
            side=2,3,4
            amount={ON_DIFFICULTY4 400 500 700 1500}
        [/gold]

        [message]
            role=Supporter
            message= _ "This doesn’t look good..."
        [/message]
    [/event]

    # Sidekick death event, 500g to player and 500 to each enemy
	#again, less gold in easier difficulties
    [event]
        name=last breath
        [filter]
            id=Drung
        [/filter]

        [message]
            id=Drung
            message= _ "Argh! I have been slain!"
        [/message]

        [message]
            speaker=second_unit
            message= _ "Killed him! Got his gold too."
        [/message]

        [gold]
            side=1
            amount={ON_DIFFICULTY4 250  250 250 500}
        [/gold]

        [message]
            id=Rakshas
            message= _ "They have killed one of my generals! REINFORCEMENTS!"
        [/message]

        [gold]
            side=2,3,4
            amount={ON_DIFFICULTY4 125 150 225 500}
        [/gold]
    [/event]

    # As above
    [event]
        name=last breath
        [filter]
            id=Poul
        [/filter]

        [message]
            id=Poul
            message= _ "My death will only make the Master’s punishment for you worse, you fools!"
        [/message]

        [message]
            speaker=second_unit
            message= _ "Your death makes your Master’s punishment from us one step closer!"
        [/message]

        [message]
            speaker=second_unit
            message= _ "But— my my, what’s in that big pouch? 300 gold! Not bad."
        [/message]

        [gold]
            side=1
            amount=302
        [/gold]

        [message]
            id=Rakshas
            message= _ "You vermin will pay for that! REINFORCEMENTS!"
        [/message]

        [gold]
            side=2,3,4
            amount={ON_DIFFICULTY4 125 150 225 500}
        [/gold]
    [/event]

    # A miracle happened. Bad boss is defeated. Player won.
    [event]
       name=attack
	[filter_second]
		id=rakhas
	[/filter_second]

        [message]
            id=Rakshas
            message= _ "Ahhhh! Run for your life!"
        [/message]

        [message]
            speaker=second_unit
            message= _ "What the... Hey, where do you think you are running off to, you coward!"
        [/message]

        [message]
            id=talin
            message= _ "Stop him!"
        [/message]

        [message]
            speaker=second_unit
            message= _ "It’s too late! I am sorry, Tallin, he got away! We did not expect he would flee like a coward."
        [/message]

        [message]
            id=talin
            message= _ "Damn! We had the opportunity to end the war in one stroke there. Now we will have to go after him, assuming we can break this siege!"
        [/message]
	[set_achievement]
		content_for=nro
		id=rakhas_flee_true
	[/set_achievement]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    # Time over. Player didn't kill the bad guy but still survived, and that's also a victory.
    [event]
        name=time over

        [message]
            id=talin
            # wmllint: local spelling Geez
            message= _ "Geez, we have been fighting them for three whole days, and there’s still as many orcs as ever. What should we do?"
        [/message]

        [message]
            id=morvin
            message= _ "It seems hopeless to continue on like this. The orcs’ numbers are unlimited and Rakshas is very well guarded. The only possible outcome to all this is more slaughter."
        [/message]

        [message]
            id=sister_theressa
            message= _ "I propose that we retreat into the caves and consult with the dwarves."
        [/message]

        [message]
            role=Supporter
            message= _ "I agree, Tallin, it is pointless to carry on."
        [/message]

        [message]
            id=talin
            message= _ "Very well. Everyone fall back!"
        [/message]

        [message]
            id=camerin
            message= _ "Awwwww! Just when I was having the most fun!"
        [/message]

        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    # And load the standard death events.
    {HERODEATHS}
    
[/scenario]
