#textdomain wesnoth-NRO

[scenario]
  	  name= _ "21 Abez"
	id=21_abez
	map_data="{~add-ons/NR_openword/maps/21_abez.map}"
	turns=30
	next_scenario=openwordl_later
	{DEFAULT_SCHEDULE_MORNING}
	carryover_percentage=40

	
[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 200 200 200 400}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin
	type=Peasant
        id=talin
        name=_ "Talin"
        canrecruit=yes

  [/side]

[side]
        side=2
        controller=ai
        gold={ON_DIFFICULTY4 200 300 400 800}
        team_name=alliance
        user_team_name= _ "Wesnoth"
        facing=nw
	type=Lieutenant
        id=ally
        canrecruit=yes
	recruit=Spearman, Bowman, Fencer, Cavalryman
	{LOYAL_UNIT 2 (Javelineer) 32 30} {GUARDIAN}

  [/side]

 {STARTING_VILLAGES 2 7}
	
	[side]
		side=3
       		 controller=ai
       		 gold={ON_DIFFICULTY4 300 375 525 1200}
        team_name=orcs
        user_team_name= _ "Bloody Sword"
        facing=nw
	type=Orcish Warlord
        id=enemy
        name=_ "Ubrid"
        canrecruit=yes
	recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Troll Whelp
	color=purple
	
	 [ai]
            caution=0.50	    # Wants to survive the duel
            [goal]
                name=target
                [criteria]
                    side=2
                [/criteria]
                value=1
            [/goal]
            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=3
            [/goal]
        [/ai]

	{GENERIC_UNIT 3 (Orcish Warrior) 39 17} {GUARDIAN}
	{GENERIC_UNIT 3 (Orcish Warrior) 35 16}  {GUARDIAN}
	{GENERIC_UNIT 3 (Orcish Warrior) 31 18}  {GUARDIAN}
	{GENERIC_UNIT 3 (Orcish Warrior) 26 17}  {GUARDIAN}
	{GENERIC_UNIT 3 (Orcish Barge) 16 20}
	{GENERIC_UNIT 3 (Orcish Barge) 8 13}


    [/side]

	[side]
		side=4
       		 controller=ai
       		 gold={ON_DIFFICULTY4 200 250 325 800}
        team_name=orcs
        user_team_name= _ "Bloody Sword"
        facing=nw
	type=Orcish Crossbowman
        id=flank_guard
        canrecruit=yes
	recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Troll Whelp
	color=purple


	 [ai]
            village_value=1.25	# strengthened desire to capture villages
            caution=0.50	    # Wants to survive the duel
            [goal]
                name=target
                [criteria]
                    side=2
                [/criteria]
                value=1
            [/goal]
            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=3
            [/goal]
        [/ai]

    [/side]

	
	[side]
		side=5
       		 controller=ai
       		 gold={ON_DIFFICULTY4 100 125 175 400}
        team_name=orcs
        user_team_name= _ "Bloody Sword"
        facing=nw
	type=Goblin Pillager
        id=goblin
        canrecruit=yes
	recruit=Wolf Rider,Orcish Assassin,Goblin Spearman
	color=purple

	 [ai]
            village_value=1.25	# strengthened desire to capture villages
            caution=0.50	    # Wants to survive the duel
            [goal]
                name=target
                [criteria]
                    side=2
                [/criteria]
                value=1
            [/goal]
            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=3
            [/goal]
        [/ai]

    [/side]

	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Defeat enemy leaders"
           		     condition=win
                       [/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			[objective]
           		     {BONUS_OBJECTIVE_CAPTION}
        		        description= _ "Move yddyn to next any Wesnoth's unit to encourage them to cross the river"
              			  [show_if]
           			         {HAVE_UNIT id=yddyn}
					{VARIABLE_CONDITIONAL encouraged not_equals yes}
        		        [/show_if]
         		       condition=win
         		[/objective]

			[gold_carryover]
              			  bonus=yes
             			  carryover_percentage=40
          		[/gold_carryover]
		[/objectives]
	[/event]

#Ally don't try to cross river
  [event]
        name=prestart
        [micro_ai]
            side=2
            ai_type=zone_guardian
            action=add
		#Leader continue recruiting
            [filter]
            	[not]
			id=ally
		[/not]  
            [/filter]
            [filter_location]
                y=25-30
		terrain=Wwf, Gs, Gs^Vh, Ce
            [/filter_location]
        [/micro_ai]
    [/event]

	[event]
        name=start
	{RECALLCOMPANIONS}
	{VARIABLE ecouraged no}
        [message]
            speaker=talin
            message= _ "We escaped from slavery and defeated a lich. Now Bloody Sword is uniting orcs and prepraining war. Can Kingdom of Wesnoth help us?"
        [/message]
	[message]
            speaker=ally
            message= _ "As long as Bloody Sword control fortified Abez, Wesnoth cannot give you any help"
        [/message]
	[message]
            speaker=talin
            message= _ "We will break that fortifiation and rout warriors of Bloody Sword. Will you help?"
        [/message]
	[message]
            speaker=ally
            message= _ "Crossing the river is too dangerous. But if you can defeat Bloody Sword here, Wesnoth will come to help in your attack to Glamdrol."
        [/message]
	[message]
            speaker=yddyn
            message= _ "Coward. I will show you that river can be crossed."
        [/message]
    
	[/event]

	[event]
		name=turn 7
	[message]
		#po Description of TDG events 
            speaker=captured_elf
            message= _ "Ford of Abez. This is place where Deoran died with hands of traitorous Prince."
        [/message]
	[message]
		#po According to TDG Chantal has at least crush to Deoran
            speaker=captured_elf
            message= _ "It is still hard to me be here. I have never visited before."
        [/message]
		[if]
					[have_unit]
						side=1
						id=degwynyc
					[/have_unit]
					[then]
	[message]
		#po TDG and HttT events description
            speaker=degwynyc
            message= _ "There King Garad II was slain after his triumph by hand of his own son. It plugged Wesnoth into civil war that finally ended only by coronation of Queen Lisar."
        [/message]
	[message]
            speaker=talin
            message= _ "We should not have problems like that. Defeat orcs and Wesnoth will help us to our attack against Bloody Sword. "
        [/message]
	[message]
            speaker=degwynyc
		#po Description of TDG events
            message= _ "Well, Wesnoth had been conflict against orcs a decade. And they attacked from far shore. Our position is now clearly better."
        [/message]

					
					[/then]
				[else]
	[message]
		#po TDG and HttT events description
            speaker=yddyn
            message= _ "There King Garad II was slain after his triumph by hand of his own son. It plugged Wesnoth into civil war that finally ended only by coronation of Queen Lisar."
        [/message]
				[/else]
	
		[/if]
	[/event]

	[event]
		name=last_breath
		[filter]
			id=enemy
		[/filter]
		[message]
			speaker=enemy
			message= _ "Great Chief will not like this..."
		[/message]
	[/event]
	[event]
		name=last_breath
		[filter]
			id=goblin
		[/filter]
		[message]
			speaker=goblin
			message= _ "Chief Rakhas said that it is safe here. Fat liar!"
		[/message]
	[/event]
	[event]
		name=last_breath
		[filter]
			id=flank_guard
		[/filter]
		[message]
			speaker=flank_guard
			message= _ "Who even is that enemy coming from North?"
		[/message]
		[message]
			speaker=talin
			message= _ "We are peasants from Dwarven Doors. We will defeat Rakhas and bring peace to Northlands."
		[/message]

	[/event]

	[event]
		name=last_breath
		[filter]
			id=ally
		[/filter]
		[message]
			speaker=ally
			message= _ "Orcs manage to break our defences. Send messanger to Weldyn!"
		[/message]
		[/event]

	[event]
		name=enter hex
			[filter]
				id=yddyn
				[filter_adjacent]
					side=2
				[/filter_adjacent]
			[/filter]	
			[message]
				speaker=yddyn
				message= _ "You see? Crossing the river is possible."
			[/message]
			[message]
				speaker=ally
				message= _ "If you can cross the river, my troops also can. Onwards!"
			[/message]
			[micro_ai]
            			side=2
          			ai_type=zone_guardian
            			action=delete
        		[/micro_ai]
			[set_achievement]
				content_for=nro
				id=rivercrossing
			[/set_achievement]
			{VARIABLE encouraged no}
	[/event]

	
	 [event]
        name=time over  
	[message]
			speaker=enemy
			message= _ "Our reinforcements have arrived!"
	[/message]
      
	[message]
            speaker=talin
            message= _ "We wasted too much time. We have no hope of victory here anymore."
        [/message]
	
    [/event]

	[event]
        name=victory  
	[message]
			speaker=talin
			message= _ "Bloody Sword is defeated and ford Abez is free."
	[/message]
      
	[message]
            speaker=ally
            message= _ "I will stay here guarding Abez. Kingdom of Wesnoth will also send troops in your support when you attack to Gladrol."
        [/message]
	{CLEAR_VARIABLE encouraged}

    [/event]


	{HERODEATHS}
[/scenario]




