#textdomain wesnoth-NRO

[scenario]
  	  name= _ "Defend Doors"
	id=22_doors
	map_data="{~add-ons/NR_openword/maps/22_doors.map}"
	turns=18
	victory_when_enemies_defeated=yes
	next_scenario=openwordl_later
	 {DEFAULT_SCHEDULE}
	carryover_percentage=40

[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 200 200 200 400}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin

  [/side]


 [side]
        side=2
        controller=ai
        recruit=Dwarvish Guardsman , Dwarvish Fighter, Dwarvish Scout , Dwarvish Thunderer
	persistent=yes
        gold={ON_DIFFICULTY4  200 250 350 800}
        team_name=alliance
        user_team_name= _ "Dwarves"
	name=_"Buithfur"
	id=guardian
	save_id=guardian
	side=2
	type="Dwarvish Stalwart"
	canrecruit=yes
	{SILENTLY_LIMIT_LEADER_MOVES 2 2}
	[ai]
     		[avoid]
			terrain=Gg, Gg^Efm, Gs, Gll^Fp, Rb, Gll^Fmw
		[/avoid]
	[/ai]
    [/side]


	[side]
		side=3
       		controller=ai
       		gold={ON_DIFFICULTY4 250 325 450 900}
     	  	team_name=orcs
        	user_team_name= _ "Bloody Sword"
        	facing=nw
		type=Orcish Crossbowman
        	id=khodig
		color=purple
        	name=_ "Khodig"
        	canrecruit=yes
		recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,Troll Whelp
	[/side]

[side]
        name=_"Chief Rakhas"
	side=4
	type="Orcish Sovereign"
	id=rakhas 
        recruit=Orcish Warrior,Orcish Slayer,Troll,Troll Rocklobber,Orcish Crossbowman, Wolf Rider
	#Chief Rakhas gain gold when Tallin arrives
        gold=50
        income={ON_DIFFICULTY4 12 16 30 48}
        team_name=orcs
        user_team_name=_"Bloody Sword"
        {FLAG_VARIANT6 ragged}
	{SILENTLY_LIMIT_LEADER_MOVES 4 0}
	    	#Guards to Chief Rakhas
	{LOYAL_UNIT 4 (Orcish Warrior) 21 19} {GUARDIAN}
	{LOYAL_UNIT 4 (Orcish Warrior) 21 21} {GUARDIAN}
	{LOYAL_UNIT 4 (Orcish Warrior) 24 18} {GUARDIAN}
	{LOYAL_UNIT 4 (Orcish Slayer) 25 19} {GUARDIAN}
	{LOYAL_UNIT 4 (Orcish Slayer) 24 22} {GUARDIAN}
[/side]
	
	{STARTING_VILLAGES 4 5}



	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Survive untill turns run out"
           		     condition=win
                       [/objective]
			[objective]
                		{BONUS_OBJECTIVE_CAPTION}
                		description=_ "Defeat Chief Rakhas"
                		condition=win
            		[/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			[objective]
				description= _ "Death of Buithfur"
				condition=lose
			[/objective]
			[gold_carryover]
              			  bonus=yes
             			  carryover_percentage=40
          		[/gold_carryover]
		[/objectives]
	[/event]


	[event]
        name=start
	[message]
            speaker=rakhas
            message= _ "It is tome to take Knalga. Attack!"
        [/message]
        [message]
            speaker=guardian
            message= _ "Defend the gates! We need reinforcements from Talin, but I am sure that they will come."
        [/message]
	
	[unit]
		type=Dwarvish Scout
		side=2
		x, y= 23, 3
		id=messanger
	[/unit]
	[message]
            speaker=messanger
            message= _ "I will go to Tallin."
        [/message]
        
	[move_unit]
		id=messanger
		to_x=27
		to_y=1
	[/move_unit]

	[kill]
		id=messanger
		animate=no
	[/kill]
	[message]
            speaker=narrator
            message= _ "Where Tallin will arrive?"
		[option]
				message= _ "Tallin arrives safely to Buithfur's keep. (easy)"
				[command]
					{VARIABLE to_assault no}
				[/command]	
				[message]
            				speaker=narrator
            				message= _ "Tallin will arrive to Buithfur's keep at turn 5. "
       			 	[/message]
		[/option]
		[option]
				message= _ "Outside to attack orcs rear. (hard)"
				[command]
					{VARIABLE to_assault yes}
				[/command]
				[message]
            				speaker=narrator
            				message= _ "Tallin will arrive to Buithfurs keep at turn 5."
       			 	[/message]	
		[/option]
        [/message]
	[message]
            speaker=khodig
            message= _ "Bah. Grunts kill them!"
        [/message]
    
	[/event]

	#Add this to every scenario where smalltalk is used. (expext 21 Abez)
[event]
        name=turn 7
        [fire_event]
		name=say_smalltalk
	[/fire_event]
[/event]
{GLOBAL__SMALLTALK}

	[event]
		name=last_breath
		[filter]
			id=guardian
		[/filter]
		[message]
			spaeker=guardian
			message= _ "Now Knalga will fall..."
		[/message]
		[endlevel]
            		result=defeat
        	[/endlevel]
	[/event]
		

	[event]
		name=last_breath
		[filter]
			id=khodig
		[/filter]
		[message]
			speaker=khodig
			message= _ "Bloody sword will avange me!"
		[/message]
	[/event]
	
	#Rakhas flee when attacked
	[event]
		name=attack
		[filter_second]
			id=rakhas
		[/filter_second]
		[message]
			id=rakhas
			message= _ "I don't die here!"
		[/message]
		[fire_event]
			name=orcs_retreat
		[/fire_event]
	[/event]


	[event]
		name=orcs_retreat
		
		[if]
					[variable]
						name=to_assault
						equals=yes
					[/variable]
					[then]
		[move_unit]
			id=rakhas
			to_x=17
			to_y=11
		[/move_unit]
		[move_unit]
			id=rakhas
			to_x=1
			to_y=12
		[/move_unit]
					[/then]
					[else]
						[move_unit]
							id=rakhas
							to_x=18
							to_y=27
						[/move_unit]
					[/else]
		[/if]

		[put_to_recall_list]
			id=rakhas
		[/put_to_recall_list]
		[set_achievement]
			content_for=nro
			id=rakhas_flee
		[/set_achievement]
		[message]
			id=khodig
			message= _ "Retreat!"
		[/message]
		[move_unit]
			id=khodig
			to_x=1
			to_y=12
		[/move_unit]
		[put_to_recall_list]
			id=khodig
		[/put_to_recall_list]
		[endlevel]
        	   	result=victory
       		  	bonus=yes 
			carryover_add=yes
      		[/endlevel]
	[/event]


#Tallin arrives
	[event]
		name=turn 5
		[if]
		{VARIABLE_CONDITIONAL to_assault equals no}
		[then]
		[unit]
			type=Peasant
	        	id=talin
        		name=_ "Talin"
    			canrecruit=yes
			side=1
			x=25
			y=2
		[/unit]
		[/then]
		[else]
		[unit]
			type=Peasant
	        	id=talin
        		name=_ "Talin"
    			canrecruit=yes
			side=1
			x=14
			y=27
		[/unit]
		[move_unit]
			id=talin
			to_x=13
			to_y=23
		[/move_unit]
		#Add keep to Tallin
			[terrain]
        			terrain=Ke
        			x=13
        			y=23
    			[/terrain]
			[terrain]
        			terrain=Ce
        			x=12
        			y=23
    			[/terrain]
            		 [terrain]
        			terrain=Ce
        			x=13
        			y=24
    			[/terrain]

            		[terrain]
        			terrain=Ce
        			x=14
        			y=22
    			[/terrain]
			[terrain]
        			terrain=Ce
        			x=13
        			y=22
    			[/terrain]
			[terrain]
        			terrain=Ce
        			x=14
        			y=23
    			[/terrain]
			[terrain]
        			terrain=Ce
        			x=12
        			y=22
    			[/terrain]
                 	[redraw][/redraw] 

		[/else]
		[/if]

		{RECALLCOMPANIONS}
		[message]
			#po Later time was scenario 2 Help Dwarves
			speaker=talin
			message= _ "Bloody Sword is attacking against dwarves. We need to save them again."
		[/message]
		[message]
			speaker=rakhas
			message= _ "They are reinforfed? Bah, I will win anyway. Reserves!"
		[/message]
		[gold]
			side=4
			amount={ON_DIFFICULTY4 400 500 700 1600}
		[/gold]
[/event]

 [event]
        name=time over  
	[message]
			speaker=rakhas
			message= _ "This is leading to nowhere. Retreat!"
	[/message]
	[fire_event]
			name=orcs_retreat
	[/fire_event]
	
    [/event]

	#Victory event
	[event]
		name=victory
		[message]
			speaker=guardian
			message= _ "Thank for your help."
		[/message]
		[message]
			speaker=talin
			message= _ "We defeated Bloody Sword today. To be safe we need to defeat them again at Glamdrol."
		[/message]
		[message]
			speaker=guardian
			message= _ "You are right. I will send word to Lord Hamel. Maybe he will join attack."
		[/message]
		[message]
			speaker=Zlex
			message= _ "Defeating Bloody Sword at Glamdrol will be hard."
		[/message]
		[message]
			speaker=talin
			message= _ "We can try to gain new allies in one more fight."
		[/message]


		{CLEAR_VARIABLE to_assault}
	[/event]


	{HERODEATHS}
[/scenario]




