#textdomain wesnoth-NRO


[scenario]
  	  name= _ "23 Take Gold"
	id=23_take_gold
	map_data="{~add-ons/NR_openword/maps/23_take_gold.map}"
	turns=35
	victory_when_enemies_defeated=yes
	next_scenario=openwordl_later
	carryover_percentage=40
	 {DEFAULT_SCHEDULE_MORNING}

[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 200 200 200 400}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin
	type=Peasant
        id=talin
        name=_ "Talin"
        canrecruit=yes

  [/side]


[side]
		side=2
       		 controller=ai
       		 gold={ON_DIFFICULTY4 400 500 700 1600}
        team_name=orcs
        user_team_name= _ "Bloody Sword"
        facing=nw
	type=Orcish Warlord
        id=bogo
        name=_ "Bogo"
        canrecruit=yes
	recruit=Orcish Grunt,Orcish Archer,Orcish Assassin,Troll Whelp, Wolf Rider
	color=purple

    [/side]
	[side]
		side=3
       		 controller=ai
       		 gold={ON_DIFFICULTY4 100 125 225 400}
        team_name=orcs
        user_team_name= _ "Bloody Sword"
        facing=nw
	type=Troll Warrior
        id=troll
        canrecruit=yes
	recruit=Troll Whelp
	color=purple

    [/side]


	
  [side]
        side=4
        controller=ai
       	recruit=Elvish Archer , Elvish Fighter
        gold={ON_DIFFICULTY4 100 125 225 400}
        team_name=elves
        user_team_name= _ "Elves"
	id=captain
	color=green
	type="Elvish Captain"
	canrecruit=yes
    [/side]



	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Defeat Bogo"
           		     condition=win
                       [/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]			
			note= _ "Capturing village from elves will anger them."
		[/objectives]
		[item]
			image="items/gold-coins-large.png"
			submerge=1
			visible_in_fog=no
			x=9
			y=13
		[/item]
		[item]
			image="items/gold-coins-large.png"
			submerge=1
			visible_in_fog=no
			x=10
			y=15
		[/item]
		[item]
			image="items/gold-coins-large.png"
			submerge=1
			visible_in_fog=no
			x=8
			y=12
		[/item]
	
	
	[/event]
	[event]
        	name=start

	{RECALLCOMPANIONS}
	[message]
            speaker=bogo
            message= _ "What are coming from South?"
        [/message]
	[message]
            speaker=talin
            message= _ " So there Bloody Sword is keeping plunder from river trade and area between Wesmere and swamp. Better to defeat them before they move it to Glamdrol."
        [/message]
	[message]
            speaker=bogo
            message= _ "Slaves that killed Al-tar? Defeat them grunts! Let's brig them to Chief Rakhas in chaings."
        [/message]
	[message]
            speaker=talin
            message= _ " Elves of Wesmere. Join the fight against Booldy Sword!"
        [/message]
	[message]
            speaker=captain
            message= _ " As Lady of Wesmere is captured by Booldy Sword, we cannot do anything against them."
        [/message]
	[if]
		[have_unit]
			id=captured_elf
		[/have_unit]
		[then]
			[message]
           			speaker=captured_elf
            			message= _ " They free me from Booldy Sword!"
        		[/message]
			[message]
           			speaker=captain
            			message= _ " My Lady! We will fight with humans side then."
        		[/message]		
			[modify_side]
				side=4
				team_name=alliance
			[/modify_side]
		[/then]
		[elseif]
					[variable]
						name=treasury_stealed
						equals=yes
					[/variable]
					[then]
						[message]
           						speaker=captain
            						message= _ " You also stole our treaury. We will support orcs in this fight."
        					[/message]
						[modify_side]
							side=4
							team_name=orcs
						[/modify_side]
					[/then]
		[/elseif]
		[else]
			[message]
           			speaker=captain
            			message= _ "We wil not take sides in this fight."
        		[/message]		
			[modify_side]
				side=4
				team_name=alliance, orcs
			[/modify_side]
		[/else]
		[/if]

	[/event]

	#Elves become hostile if player captures their village
	#AI never captures ally village, so no need for event to orcs
[event]
	name=capture
	first_time_only=no
	[filter]
			side=1
	[/filter]
	[if]
					[variable]
						name=owner_side
						equals=4
					[/variable]
					[then]
						[message]
							speaker=captain
							message= _ "You captured our village. You will pay for that!"
						[/message]
						[modify_side]
							side=4
							team_name=orcs
						[/modify_side]
					[/then]
	[/if]
[/event]

	
	#Add this to every scenario where smalltalk is used. (expext 21 Abez)
[event]
        name=turn 3
        [fire_event]
		name=say_smalltalk
	[/fire_event]
[/event]
{GLOBAL__SMALLTALK}

	
	[event]
		name=last_breath
		[filter]
			id=bogo
		[/filter]
		[message]
			speaker=bogo
			message= _ "I lost all our pillage ..."
		[/message]
		
		[gold]
			side=1
			amount=1000
		[/gold]
		[endlevel]
        	   	result=victory
       		  	bonus=yes 
			carryover_add=yes
                [/endlevel]

	[/event]
	
	 [event]
        name=time over  
	[message]
			speaker=bogo
			message= _ "Our reinforcements have arrived!"
	[/message]
      
	[message]
            speaker=talin
            message= _ "We wasted too much time. We have no hope of victory here anymore."
        [/message]
	
    [/event]

	
	{HERODEATHS}
[/scenario]





