#textdomain wesnoth-NRO


[scenario]
    id=2_help_darwes
    name= _ "2 Help Dwarves"
    map_file=2_help_dwarves.map
    turns=30
    next_scenario=overworld 
    {UNDERGROUND}
	carryover_percentage=40
   
    
   #Talin
   
    [side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 200 200 200 400}
        team_name=alliance
      	type=Peasant
        id=talin
        name= _ "Talin"
        side=1
        canrecruit=yes
        team_name=alliance
        user_team_name=_"Talin"

        
        shroud=yes
    [/side]
    
    # Dwarves
   [side]
        side=2
        controller=ai
        recruit=Dwarvish Guardsman , Dwarvish Fighter, Dwarvish Scout , Dwarvish Thunderer
	persistent=yes
        gold={ON_DIFFICULTY4  200 250 350 800}
        team_name=alliance
        user_team_name= _ "Dwarves"
	name=_"Buithfur"
	id=guardian
	save_id=guardian
	side=2
	type="Dwarvish Stalwart"
	canrecruit=yes
	{SILENTLY_LIMIT_LEADER_MOVES 2 2}
    [/side]
    
[side]
	side=3
	no_leader=yes
	controller=ai
	team_name=wildlife
        user_team_name= _ "Wildlife"
	hidden=yes

[/side]	

    

#Undead sides

[side]
        side=4
        controller=ai
        recruit=Skeleton,Skeleton Archer
        gold={ON_DIFFICULTY4 200 250 350 800}
	income={ON_DIFFICULTY4 15 20 25 50}
        team_name=undead
        user_team_name= _ "Undead"
        {FLAG_VARIANT undead}

        type=Banebow
        canrecruit=yes
    [/side] 

[side]
        side=5
        controller=ai

        
        gold={ON_DIFFICULTY4 300 375 525 1200}
        team_name=undead
        user_team_name= _ "Undead"
        {FLAG_VARIANT undead}
	  recruit=Walking Corpse,Skeleton,Skeleton Archer
        type=Death Knight
        canrecruit=yes
	role=undead_leader

        {LOYAL_UNIT 3 Revenant 38 11} {GUARDIAN}
        {LOYAL_UNIT 3 Revenant 32 10} {GUARDIAN}
        {LOYAL_UNIT 3 Revenant 38 6} {GUARDIAN}
       
    [/side]
    
[side]
        side=6
        controller=ai
        recruit=Skeleton,Skeleton Archer
        gold={ON_DIFFICULTY4 300 375 525 1200}
        

        team_name=undead
        user_team_name= _ "Undead"
        {FLAG_VARIANT undead}
	type=Banebow
        canrecruit=yes
	 {LOYAL_UNIT 3 Revenant 5 28} {GUARDIAN}
        {LOYAL_UNIT 3 Revenant 10 28} {GUARDIAN}
        {LOYAL_UNIT 3 Revenant 14 23} {GUARDIAN}

    [/side]

	# Camerin
  [side]
        side=7
        controller=ai
        gold={ON_DIFFICULTY4 200 250 350 800}
        team_name=alliance
        user_team_name= _ "Wizard"
    [/side]

 
    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Tallin"
                condition=lose
            [/objective]
            [objective]
                description= _ "The dwarves are defeated"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
       
        {RECALLCOMPANIONS}
    [/event]

    # Start event
    [event]
        name=start
	[message]
            speaker=guardian
            message= _ "Good that you come. Undeads are attacking us!"
        [/message]
	          
	[unit]
		name= _"Camerin"
		type=Great Mage
		profile="Camerin.webp" #From original NR
		side=7
		canrecruit=yes
		extra_recruit=Giant Mudcrawler, Mudcrawler, Fire Guardian #lore-wise summoning mudcrawlers is easy. Camerin has enough experience to recruit also fire guardians.
		gender=male
		id=camerin
		x=23
		y=4
	[/unit]
	{VARIABLE camerin_found no}
	[/event]

	[event]
		name=turn 4
		{GENERIC_UNIT 3 (Blood Bat) 15 19}
		{GENERIC_UNIT 3 (Blood Bat) 16 18}
		{GENERIC_UNIT 17 (Blood Bat) 16 19}
		{GENERIC_UNIT 17 (Blood Bat) 16 20}
	[/event]

	[event]
		name=turn 8
		{GENERIC_UNIT 3 (Blood Bat) 15 19}
		{GENERIC_UNIT 3 (Blood Bat) 16 18}
		{GENERIC_UNIT 17 (Blood Bat) 16 19}
		{GENERIC_UNIT 17 (Blood Bat) 16 20}
	[/event]



    # Find Camerin event
    [event]
        name=sighted
        [filter]
		id=camerin
	[/filter]
	[filter_second]
		side=1
	[/filter_second]
	[if]
		{VARIABLE_CONDITIONAL second_unit.race equals human} 
		[then]
      		  [message]
         		   speaker=camerin
         		   message= _ "A human! Amazing, I can’t remember when I have seen a human before."
      		  [/message]
		[/then]
		[elseif]
			 {VARIABLE_CONDITIONAL second_unit.race equals lizard} 
			[then]
      				  [message]
         				   speaker=camerin
         				   message= _ "A lizard. Amazing, I haven't eat roasted lizard for a long time. "
      		  		[/message]
			[/then]
		[/elseif]
		[elseif]
			{VARIABLE_CONDITIONAL second_unit.race equals orc}	
			[then]
      				  [message]
         				   speaker=camerin
         				   message= _ "An orc. It will BURN! "
      		  		[/message]
			[/then]
		[/elseif]
		[elseif]
			{VARIABLE_CONDITIONAL second_unit.race equals dwarf} 
			[then]
      				  [message]
         				   speaker=camerin
         				   message= _ "A dwarf. You are still holding Knalga? "
      		  		[/message]
			[/then]
		[/elseif]
		[else]
      				  [message]
         				   speaker=camerin
         				   message= _ "What creature is that?  "
      		  		[/message]
		[/else]
	[/if]


	{VARIABLE camerin_found yes}

	[message]
            speaker=talin
            message= _ "We are here to destroy undeads and help our dwarvish allies. Do you want to join us?"
        [/message]
	[modify_unit]
		[filter]
			side=7
		[/filter]
		side=1
		moves=5
	[/modify_unit]
	[store_gold]
     		   side=7
      		  variable=camerin_gold
    	[/store_gold]
	[gold]
                            side=1
                            amount=$camerin_gold
        [/gold]

         [message]
            speaker=camerin
            message= _ "Let’s go burn ’em all!"
        [/message]
	[/event]
	
        
        # Flavor event on Camerins first attack
        [event]
            name=attack
            [filter]
                id=camerin
            [/filter]

            [message]
                speaker=camerin
                message= _ "<i>Burn, you disgusting filth!</i>"
            [/message]
         [/event]

        
	# Dwarves reserves
	[event]
		name=attack
		[filter]
			race=undead
		[/filter]
		[filter_second]
			id=guardian
		[/filter_second]
		[message]
          		  speaker=guardian
          		  message= _ "Last reserves!"
      		  [/message]	
   		[gold]
			side=2
			amount=50
		[/gold]
    	[/event]
            
    # Guardian got killed, the scenario is lost.
    [event]
        name=die
        [filter]
            id=guardian
        [/filter]

        [message]
            speaker=talin
            message= _ "No! Without the dwarves we have no hope!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

       [event]
        name=time over
        [message]
            speaker= narrator
            message= _ "Without eating or sleeping for days, Tallin’s men begin to fall one by one."
        [/message]

        [message]
            speaker=talin
            message= _ "We were too slow in finding the dwarves. I don’t think we can fight for much longer!"
        [/message]
    [/event]

	[event]
		name=victory 
		
		[if]
					{VARIABLE_CONDITIONAL camerin_found not_equals yes}
					[then]
						[set_achievement]
							content_for=nro
							id=blind
						[/set_achievement]	
					[/then]
		[/if]
		{CLEAR_VARIABLE camerin_found}
	[/event]

    {HERODEATHS}
[/scenario]
