#textdomain wesnoth-NRO


[scenario]
  	  name= _ "5 Kal-Kartha"
	id=5_kal-kartha
	map_data="{~add-ons/NR_openword/maps/testi.map}"
	turns=30
	victory_when_enemies_defeated=yes
	next_scenario=overworld 
	carryover_percentage=40
	{UNDERGROUND}	
[side]
        side=1
        controller=human
        gold={ON_DIFFICULTY4 200 200 200 400}
        team_name=alliance
        user_team_name= _ "Talin"
        facing=nw
	save_id=talin
	type=Peasant
        id=talin
        name=_ "Talin"
        canrecruit=yes
	recruit= Dwarvish Fighter, Dwarvish Scout

  [/side]

[side]
        side=2
        controller=ai
        gold={ON_DIFFICULTY4 120 150 200 480}
        team_name=ants
        user_team_name= _ "ANTS"
        facing=nw
	type=Fire Ant Queen
        id=enemy
        name=_ "Ant Queen"
        canrecruit=yes
	recruit=Fire Ant

  [/side]
	[side]
		side=3
       		 controller=null
       	gold=0	 
        team_name=alliance
        user_team_name= _ "Kal-Kartha"
        facing=nw
	type=Dwarvish Steelclad
        id=dwarf
	x=4
	y=16
        name=_ "Gomlathis"
        canrecruit=yes
	recruit= Dwarvish Fighter, Dwarvish Ulfserker, Dwarvish Thunderer, Dwarvish Scout
	[/side]


	[event]
		name=prestart
		 [objectives]
                       [objective]
             		   description= _ "Defeat Ant Quenn"
           		     condition=win
                       [/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			[objective]
				description= _ "Death of Gomlathis"
				condition=lose
			[/objective]
			[objective]
				description= _ "More than 4 dwarves die"
				condition=lose
			[/objective]
			[gold_carryover]
              			  bonus=yes
             			  carryover_percentage=40
          		[/gold_carryover]
		[/objectives]
		[item]
			id="gold-coins-medium"
			image="items/gold-coins-medium.png"
			submerge=1
			visible_in_fog=no
			x=19
			y=10
		[/item]
	[/event]
	[event]
        name=start
	[message]
            speaker=dwarf
            message= _ "Knalga need to be in very bad situaition because they send non-dwarf to ask help. But we will help Knalga. This test will tell, how you can lead army. "
        [/message]
	[message]
            speaker=dwarf
            message= _ "If you lost more than 4 members of true people, you will be unable to do that. "
        [/message]

    {RECALLCOMPANIONS}
	[message]
            speaker=Zlex
            message= _ "This is very suspicious. "
        [/message]
	[message]
            speaker=talin
            message= _ "They will help us. "
        [/message]

	[set_variable]
		name=dead_dwarves
		value=0
	[/set_variable]
	[if]
					[have_unit]
						side=1
						id=Zlex
					[/have_unit]
					[then]
						[set_achievement]
							content_for=nro
							id=suspect_arise
						[/set_achievement]	
					[/then]
		[/if]

	[/event]


	[event]
		name=last_breath
		[filter]
			id=talin
		[/filter]
		[message]
			spaeker=talin
			message= _ "Now we will never be free"
		[/message]
	[/event]

	#Add this to every scenario where smalltalk is used. (expext 21 Abez)
[event]
        name=turn 7
        [fire_event]
		name=say_smalltalk
	[/fire_event]
[/event]
{GLOBAL__SMALLTALK}

	[event]
		name=last_breath
		[filter]
			id=dwarf
		[/filter]
		[message]
			spaeker=dwarf
			message= _ "You clearly are uncapable to lead an army."
		[/message]
		[endlevel]
        	    result=defeat
       	 
                [/endlevel]
	[/event]

	[event]
		name=die
		[filter]
			id=enemy
		[/filter]
		[filter_second]
			id=camerin
		[/filter_second]
		[set_achievement]
			content_for=nro
			id=firefighting
		[/set_achievement]
		[message]
			spaeker=talin
			message= _ "We defeated ant queen. Now we can contnue onwards."
		[/message]
	[/event]

	[event]
		name=last_breath
		first_time_only=no
		[filter]
			race=dwarf
		[/filter]
		[set_variable]
			name=dead_dwarves
			add=1
		[/set_variable]
		[if]
					[variable]
						name=dead_dwarves
						equals=4
					[/variable]
					[then]
						[message]
							speaker=dwarf
							message= _ "You allowed too many dwarves to die."
						[/message]
						[endlevel]
        	  					 result=defeat
       						[/endlevel]

					[/then]
		[/if]
	[/event]
	[event]
		name=moveto
		[filter]
			x=19
			y=10
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "There are 50 gold coins lying here"
		[/message]
		[message]
			speaker=talin
			message= _ "Let's put it to use."
		[/message]

		[gold]
			side=1
			amount=50
		[/gold]
		[remove_item]
					[filter]
						x=19
						y=10
					[/filter]
				[/remove_item]

	[/event]
	
	[event]
		name=victory
			[if]
					[variable]
						name=dead_dwarves
						equals=0
					[/variable]
					[then]
						[message]
							speaker=dwarf
							message= _ "You managed to defeat ants without any of true people dying. Well done"
						[/message]
					[/then]
		[/if]
		{CLEAR_VARIABLE dead_dwarves}
	[/event]

	[event]
        name=time over
		
	 [message]
            speaker=dwarf
            message= _ "You wasted too much time. You are unable to lead an army."
        [/message]
    [/event]


	{HERODEATHS}
[/scenario]





