#textdomain wesnoth-NRO


[scenario]
    id=7_kliffs_of_thoria
    name= _ "7 Kliffs of Thoria"
    map_file=thoria.map
    turns={ON_DIFFICULTY4 30 25 20 15}

    {DEFAULT_SCHEDULE_MORNING}

    next_scenario=overworld 
	carryover_percentage=40%
    
    victory_when_enemies_defeated=yes

    [side]
        type=Peasant
        id=talin
        name= _ "Talin"
        side=1
        canrecruit=yes
	recruit=Raft
        controller=human
        team_name=alliance
        user_team_name=_"Talin"
        shroud=no
        fog=yes
        gold={ON_DIFFICULTY4 200 200 200 400}
        {FLAG_VARIANT loyalist}
    [/side]

	[side]
        type=Naga Ophidian       
        id=naga
        side=2
        canrecruit=yes
	 team_name=drakes, alliance
        user_team_name=_"Nagas"
        recruit=Naga Guard , Naga Fighter, Naga Dirkfang
       #Gain more gold if player 
        gold=20
	
    [/side]

[side]
        type=Fire Drake
        id=drake
        side=3
        canrecruit=yes
	 team_name=drakes
        user_team_name=_"Drakes"
        recruit=Drake Fighter, Drake Burner, Drake Clasher, Drake Glider   
        gold={ON_DIFFICULTY4 200 250 325 800}

    [/side]

    [event]
        name=prestart

        [objectives]
            side=1
		delayed_variable_substitution=yes
            [objective]
                description= _ "Defeat 20 drakes. ($defeated_drakes so far)"
                condition=win
            [/objective]
	    [objective]
                description= _ "OR Defeat drake leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Talin"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]

        [/event]

    [event]
        name=start
	{RECALLCOMPANIONS}
	[set_variable]
		name=defeated_drakes
		value=0
	[/set_variable]

        [message]
            speaker=Zlex
            message= _ "The Cliffs of Thoria, home of drakes."
        [/message]
        [message]
            speaker=talin
            message= _ " Drakes are unprepraided our assault. Killing 20 drakes should be enough to force rest to leave and show our power to orc tribes. Soon we can recruit orcs. "
        [/message]
	[recall]
		type=peasant
	[/recall]
	[message]
		#can be Tallin or Zlex but still works
            type=Peasant
            message= _ "Moving in water is hard. We can build rafts to help."
        [/message]
	[message]
            speaker=talin
            message= _ " Rafts are vulnaruable to drake's fire but may still be useful. "
        [/message]
	[/event]

	[event]
		name=sighted
			[filter]
				side=2
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
	[message]
            speaker=talin
            message= _ " Nagas! Will you join fight against drakes? "
        [/message]
        [message]
            speaker=naga
            message= _ "We have no hate towards drakes. But for 150 gold, I can do it."
        [/message]
	[message]
			speaker=talin
			message= _ "Should I pay for naga 150 gold for help? They are better to swim than us."
			[option]
				label= _ "Pay for naga"
				[command]
					[modify_side]
						side=2
						team_name=alliance
					[/modify_side]
					[gold]
						side=1
						amount=-150
					[/gold]
					[gold]
						side=2
						amount=150
					[/gold]

					[message]
            					speaker=naga
        					    message= _ " Good choice. "
     				   	[/message]
      				 
					
				[/command]
			[/option]
			[option]
				label= _ "Don't pay"
			[/option]
			[command]
				 [message]
      				      speaker=naga
        			    message= _ "You wil regret that."
       				 [/message]
			[/command]

		[/message]
   [/event]

	#Add this to every scenario where smalltalk is used. (expext 21 Abez)
[event]
        name=turn 7
        [fire_event]
		name=say_smalltalk
	[/fire_event]
[/event]
{GLOBAL__SMALLTALK}
   
    [event]
		name=last_breath
		[filter]
			id=drake
		[/filter]
		[message]
			speaker=drake
			message= _ "We didn't enough strong to defend our home..."
		[/message]
		[message]
			speaker=talin
			message= _ " We have showed our might."
		[/message]
		[endlevel]
        	  	result=victory
 			bonus=yes
			carryover_add=yes
		[/endlevel]

	[/event]

	[event]
		name=last_breath
		[filter]
			id=naga
		[/filter]
		[message]
			speaker=naga
			message= _ "Cursess..."
		[/message]
	[/event]





    {HERODEATHS}

    	#Victory
	
	[event]
		name=die
		first_time_only=no
		[filter]
			side=3
		[/filter]
		[set_variable]
			name=defeated_drakes
			add=1
		[/set_variable]
		[if]
					[variable]
						name=defeated_drakes
						equals=20
					[/variable]
					[then]
						[message]
							speaker=talin
							message= _ "We defeated 20 drakes and rest retreat. We have showed our might."
						[/message]
						[endlevel]
        	  					 result=victory
       							   bonus=yes
							carryover_add=yes
						[/endlevel]

					[/then]
		[/if]
		
	[/event]

	[event]
		name=victory
		{CLEAR_VARIABLE defeated_drakes}
		{CLEAR_VARIABLE drake_defender}
		{CLEAR_VARIABLE drake_defender2}
	[/event]

	#Spam drakes when any side captures drake village

[event]
        name=time over
	 [message]
            speaker=talin
            message= _ "We were too slow to defeat drakes. Now orcs will never ally with us."
        [/message]
    [/event]

   [/scenario]










	



