#define EARLY_EAST



#######################################################################################################################################################
#                                                                S4 - Capture Gryphons
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{LUA(<<return wesnoth.current.turn==5>>)} 
        	 {VARIABLE_CONDITIONAL status_s02 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s02 not_equals completed}
    {THEN(
        {VARIABLE status_s02 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 2 season remaining"} )} [/if]
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 1 season remaining (last chance!)"}  )} [/if]
    # we don't play any approach message on turn 1. Reset approached_s02 so that we might play it on turn 2.
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN({CLEAR_VARIABLE approached_s02})} [/if]
[/event]

#Tell redward

{PLACE_POI 64 15 s4
    SCENARIO_FILE=4_capture_cryphons
    (PREVIEW_WML=
        title=_ "10 Lake Vrug"
        difficulty=1
        gold=1
        recruit1=units/dwarves/gryphon-master-flying-1.png
       
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
        [unit]
			facing="n"
			name=_"Kzssshh"
			side=5
			type="Gryphon"
			x=65
			y=13
			id=gryphon
			
		[/unit]            
    )


    (INCOMPLETE_APPROACHED=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            # no dialogue on first turn, so we don't overwhelm the player
        )} {ELSE(
            [message]
                {FILTER_LOCATION x,y,radius=65,13,3}
                id=gryphon
                message= _ "Kraa!"
            [/message]
        )} [/if]
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                {FILTER_LOCATION x,y,radius=65,13,3}
                id=talin
                message= _ "There are wild cryphons flying on there. If we capture some, we can train Gryphon riders"
            [/message]
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=65, 13, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       
					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We captured many gryphons here."
        [/message]
    )
}

#######################################################################################################################################################
#                                                                S5 - Kal-Kartha
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{LUA(<<return wesnoth.current.turn==5>>)} 
        	 {VARIABLE_CONDITIONAL status_s02 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s02 not_equals completed}
    {THEN(
        {VARIABLE status_s02 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 2 season remaining"} )} [/if]
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 1 season remaining (last chance!)"}  )} [/if]
    # we don't play any approach message on turn 1. Reset approached_s02 so that we might play it on turn 2.
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN({CLEAR_VARIABLE approached_s02})} [/if]
[/event]

#Tell redward

{PLACE_POI 78 8 s5
    SCENARIO_FILE=5_kal-kartha
    (PREVIEW_WML=
        title=_ "5 Kal-Kartha"
        difficulty=1
        gold=1
        recruit1=units/dwarves/fighter.png
        recruit2=units/dwarves/scout.png
        # recruit3=units/orcs/grunt.png
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
                   
    )


    (INCOMPLETE_APPROACHED=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            # no dialogue on first turn, so we don't overwhelm the player
        )} {ELSE(
            
                {FILTER_LOCATION x,y,radius=78,8,3}
              						 [message]
								speaker=dulcatos
								message= _ "Who approach Kal-Kartha?"
							[/message]
							[message]
								speaker=talin
								message= _ "We are peasants from Dwarven Doors. Knalga is under undead attack so Hamel sent us to seek help of Kal-Kartha."
							[/message]
							[message]
								speaker=dulcatos
								message= _ "I need to ask Lord Karrag can we give help to Knalga."
							[/message]
							[message]
								speaker=narrator
								message= _ "Dulcatos go to meet Karrag and return soon."
							[/message]
							[message]
								speaker=dulcatos
								message= _ "Karrag accepted to help his kin in Knalga but he want you to get rid of some monsters first."
							[/message]
        )} [/if]
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                {FILTER_LOCATION x,y,radius=78,8,3}
                id=talin
                message= _ "If we help Karrag to defeat some monsters, he gave some of Kal-Karthan darwes to help his kind in Knalga."
            [/message]
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves of Knalga now! We have not time to Karrag's test."
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=78, 8, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       [fire_event]
		name=recruit_darwes
	[/fire event]
					
	
    )
    (COMPLETED_MOVETO=
       							[message]
								speaker=dulcatos
								message= _ "We have given help to you. Now go to help Knalga."
							[/message]
    )
}




#######################################################################################################################################################
#                                                                S7 - Kliffs of Thoria
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{LUA(<<return wesnoth.current.turn==5>>)} 
        	 {VARIABLE_CONDITIONAL status_s02 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s02 not_equals completed}
    {THEN(
        {VARIABLE status_s02 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 2 season remaining"} )} [/if]
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 1 season remaining (last chance!)"}  )} [/if]
    # we don't play any approach message on turn 1. Reset approached_s02 so that we might play it on turn 2.
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN({CLEAR_VARIABLE approached_s02})} [/if]
[/event]

#Tell redward

{PLACE_POI 82 14 s7
    SCENARIO_FILE=7_kliffs_of_thoria
    (PREVIEW_WML=
        title=_ "7 Kliffs of thoria"
        difficulty=3
        gold=1
        recruit1=units/orcs/archer.png
        recruit2=units/orcs/grunt.png

    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
                 [unit]
			facing="ne"
			name=_"Mortick"
			side=12
			type="Drake Clasher"
			x=83
			y=15
			id=drake
			
		[/unit]
  
    )


    (INCOMPLETE_APPROACHED=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            # no dialogue on first turn, so we don't overwhelm the player
        )} {ELSE(
            
                {FILTER_LOCATION x,y,radius=82,14,3}
              						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
						[/message]
			[message]
				speaker=drake
				message= _ "Stay away humans if you value your lives."
			[/message]
			[message]
				speaker=talin
				message= _ "They will not help us. But defeating drakes would make us good impression to orcs."
			[/message]
        )} [/if]
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                {FILTER_LOCATION x,y,radius=82,14,1}
                id=talin
                message= _ "Drakes seem dangerous but are vulnaurable to pierce attacks. If we manage to defeat them convicing any ors to jois us will be much easier."
            [/message]
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=82, 14, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       		[set_variable]
			name=drakes_defeated
			value=yes
		[/set_variable]
		[message]
			speaker=talin
			message= _ "We defeated drakes. Now any orc tibe that want oppose Bloody Sword can see our might ad are more likely to ally with us."
		[/message]
					
	
    )
    (COMPLETED_MOVETO=
       							[message]
								speaker=talin
								message= _ "By defeating drakes here, we showed our power to all."
							[/message]
    )
}


#enddef