#define EARLY_EAST



#######################################################################################################################################################
#                                                                S4 - Capture Gryphons
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 5} 
        	 {VARIABLE_CONDITIONAL status_s04 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s04 not_equals completed}
    {THEN(
        {VARIABLE status_s04 failed}
    )} [/if]
[/event]


#Tell redward

{PLACE_POI 64 15 s4
    SCENARIO_FILE=4_capture_cryphons
    (PREVIEW_WML=
        title=_ "4 Capture Gryphons"
        difficulty=1
        gold=0
        recruit1=units/dwarves/gryphon-master-flying-1.png
       
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
        [unit]
			facing="n"
			name=_"Kzssshh"
			side=5
			type="Gryphon"
			x=65
			y=13
			id=gryphon
			
		[/unit]            
    )

	(INCOMPLETE_APPROACHED=
        
            
                [filter_location]
			 x,y,radius=64,15,3
		[/filter_location]
              					[message]
							speaker=gryphon
							message= _ "Kraa!"
						[/message]
				
			
		           )

   

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=64, 15, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       [message]
            speaker=talin
            message= _ "We captured many gryphons."
        [/message]

					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We captured many gryphons here."
        [/message]
    )
}


#######################################################################################################################################################
#                                                                S7 - Kliffs of Thoria
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 5} 
        	 {VARIABLE_CONDITIONAL status_s07 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s07 not_equals completed}
    {THEN(
        {VARIABLE status_s07 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played


#Tell redward
    {PLACE_POI 82 14 s7 
    SCENARIO_FILE=7_kliffs_of_thoria
    (PREVIEW_WML=
        title=_ "7 Kliffs of Thoria"
        difficulty=2
        gold=1
     	  recruit1=units/orcs/archer.png
      	  recruit2=units/orcs/grunt.png
	 recruit3=units/goblins/wolf-rider.png	)	

    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
                 [unit]
			facing="ne"
			name=_"Mortick"
			side=12
			type="Drake Clasher"
			x=83
			y=15
			id=drake
			
		[/unit]
  
    )


    (INCOMPLETE_APPROACHED=
        
            
                [filter_location]
			 x,y,radius=82,14,3
		[/filter_location]
              					[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
						[/message]
			
			[message]
				speaker=drake
				message= _ "Stay away humans if you value your lives."
			[/message]
			[message]
				speaker=talin
				message= _ "They will not help us. But defeating drakes would make us good impression to orcs."
			[/message]
           )
    (INCOMPLETE_MOVETO=
        
            [message]
                [filter_location]
			 x,y,radius=82,14,1
		[/filter_location]

                id=talin
                message= _ "Drakes seem dangerous but are vulnaurable to pierce attacks. If we manage to defeat them convicing any ors to jois us will be much easier."
            [/message]
          )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=82, 14, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       		[if]
					[variable]
						name=drakes_defeated
						equals=lake_vrug 
					[/variable]
					[then]
						[message]
							speaker=talin
							message= _ "We have defeated drakes twice and showed our might to all."
						[/message]
						[set_achievement]
							content_for=nro
							id=drakeslayer
						[/set_achievement]

					[/then]
					[/if]
						[set_variable]
							name=drakes_defeated
							value=clifss_of_thoria
						[/set_variable]
						[message]
							speaker=talin
							message= _ "We defeated drakes. Now Avro will ally with us."
						[/message]
						[message]
							speaker=warlord
							message= _ "You really defeated drakes. In that case we can ALLY with you."
						[/message]
						[fire_event]
							name=recruit_grunts
						[/fire_event]					
	
    )
    (COMPLETED_MOVETO=
       							[message]
								speaker=talin
								message= _ "By defeating drakes here, we showed our power to all."
							[/message]
    )
}


#######################################################################################################################################################
#                                                                S5 - Kal-Kartha
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 5} 
        	 {VARIABLE_CONDITIONAL status_s05 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s05 not_equals completed}
    {THEN(
        {VARIABLE status_s05 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played


#Tell redward

{PLACE_POI 78 8 s5
    SCENARIO_FILE=5_kal-kartha
    (PREVIEW_WML=
        title=_ "5 Kal-Kartha"
        difficulty=2
        gold=1
       recruit1=units/dwarves/fighter.png
        recruit2=units/dwarves/scout.png
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
                
  
    )


    (INCOMPLETE_APPROACHED=
                    
                [filter_location]
			 x,y,radius=78,8,3
		
		[/filter_location]
              						 [message]
								speaker=dulcatos
								message= _ "Who approach Kal-Kartha?"
							[/message]
							[message]
								speaker=talin
								message= _ "We are peasants from Dwarven Doors. Knalga is under undead attack so Hamel sent us to seek help of Kal-Kartha."
							[/message]
							[message]
								speaker=dulcatos
								message= _ "I need to ask Lord Karrag can we give help to Knalga."
							[/message]
							[message]
								speaker=narrator
								message= _ "Dulcatos go to meet Karrag and return soon."
							[/message]
							[message]
								speaker=dulcatos
								message= _ "Karrag accepted to help his kin in Knalga but he want you to get rid of some monsters first."
							[/message]
       
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                [filter_location]
			x,y,radius=78,8,1
		[/filter_location]
                id=talin
                message= _ "If we help Karrag to defeat some monsters, he will give some of Kal-Karthan darwes to help his kin in Knalga."
            [/message]
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves of Knalga now! We have no time to test of Karrag."
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=82, 14, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       		[fire_event]
			name=recruit_darwes
		[/fire_event]
	
    )
    (COMPLETED_MOVETO=
       							[message]
								speaker=dulcatos
								message= _ " We gave some troops to you. Go now to help Knalga!"
							[/message]
    )
	}


#enddef

#define LATE_EAST

#######################################################################################################################################################
#                                                                S19 - Lintar
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 9} 
        	 {VARIABLE_CONDITIONAL status_s19 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s19 not_equals completed}
    {THEN(
        {VARIABLE status_s19 failed}
    )} [/if]
[/event]

#Always elves

[event]
	name=prestart
	
	[unit]
			facing=sw
			name=_"High Lord Eloreis"
			side=6
			id=lintar_elf
			type="Elvish Marshal"
			canrecruit=yes
			x=98
			y=20
			
			
	[/unit]	

    {NAMED_LOYAL_UNIT 6 "Elvish Lady"      97 18 Parandra _"Parandra"  } 
    {GENERIC_UNIT     6 "Elvish Archer"    95 18} {FACING nw}
    {GENERIC_UNIT     6 "Elvish Archer"    94 16} {FACING ne}
    {GENERIC_UNIT     6 "Elvish Captain"   99 16} {FACING se}
    {GENERIC_UNIT     6 "Elvish Sorceress" 98 15} {FACING se}
    {GENERIC_UNIT     6 "Elvish Hero"      99 20} {FACING se}
    {GENERIC_UNIT     6 "Elvish Hero"      96 13} {FACING nw}

[/event]

#Tell redward

{PLACE_POI 94 24 s19
    SCENARIO_FILE=19_lintar

    (PREVIEW_WML=
        title=_ "19 Lintar"
        difficulty=2
        gold=1
	otherlabel=_"New ally to last battle: <span color='#EFBF04'><b>Elves of Lintar</b></span>"
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed

		[unit]
			facing="n"
			name=_"Dadak"
			side=4
			id=lintar_orc
			type="Orcish Warlord"
			x=93
			y=23
			
			
		[/unit]		
		
    )


    (INCOMPLETE_APPROACHED=
                    [message]
                [filter_location]
			 x,y,radius=94,24,3
		[/filter_location]
                id=talin
                message= _ "Bloody Sword had blockaded route to Lintar. Even if their blockkade is not very effective against elves we need defeat it to go Lintar"
            [/message]
		    )
    (INCOMPLETE_MOVETO=
        
            [message]
                [filter_location]
			x,y,radius=94,24,3
		[/filter_location]
                id=talin
                message= _ "If we defeat Bloody Sword's forces here, elves of Lintar will help us."
            [/message]
		
           )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
        [unit]
			facing="n"
			name=_"Dadak"
			side=4
			id=lintar_orc
			type="Orcish Warlord"
			x=93
			y=23
			
			
		[/unit]		
  )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to attack to Glamdrol now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=94, 24, 5
         [/remove_shroud]

 			
        
    )
    (JUSTCOMPLETED_START=
        
		[move_unit]
				id=talin
				to_x=94
				to_y=20
			[/move_unit]
			[remove_shroud]
              				      x,y,radius=94, 20, 5
         		[/remove_shroud]

			[message]
				speaker=talin
				message= _ "We escaped from slavery and defeated a lich. Now Bloody Sword is uniting orcs and prepraining war. Can elves of Lintar help us?"
			[/message]
				[if]
					[have_unit]
						side=1
						id=captured_elf
						search_recall_list=yes
					[/have_unit]
					[then]
						[unit]
							id=captured_elf
							side=1
							x, y = 95, 19
						[/unit]
						[message]
							speaker=captured_elf
							message= _ "Thye also free me from orcs. Surely you can help?"
						[/message]
						[set_achievement]
							content_for=nro
							id=elven_diblomacy
						[/set_achievement]
					[/then]
				[/if]
			[message]
				speaker=lintar_elf
				message= _ "As Kalenz is not present, it fall to me to make this decision."
			[/message]
			[message]
				speaker=lintar_elf
				message= _ "We will join you in attack against Bloody Sword."
			[/message]
			[set_variable]
                               name=lintar_allied
                       		value=yes
      			 [/set_variable]
					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We defeated Bloody Sword here and we will defeat them again at Glamdrol."
        [/message]
    )
	}


#######################################################################################################################################################
#                                                                S20 - Help White Fangs
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
    	 [if] 
		{IS_TURN 8} 
        	 {VARIABLE_CONDITIONAL status_s20 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s20 not_equals completed}
    {THEN(
        {VARIABLE status_s20 failed}
    )}
	 [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] 
	{IS_TURN 5}
	 {THEN( {VARIABLE s20_title _"S20 Help White Fangs - 2 fights remaining"} )} 
    [elseif]
	 {IS_TURN 6} {THEN( {VARIABLE s20_title _"S20 Help White Fangs - 1 fight remaining (last chance!)"}  )} 
    [/elseif]
	[elseif]
	 {IS_TURN 7} {THEN( {VARIABLE s20_title _"S20 Help White Fangs - 1 fight remaining (last chance!)"}  )} 
    [/elseif]
	[else]
		{VARIABLE s20_title _"S20 Help White Fangs"}
	[/else]
   [/if]
  [/event]

#Tell redward

{PLACE_POI 76 22 s20
    SCENARIO_FILE=20_help_White_Fangs

    (PREVIEW_WML=
        title=$s20_title
        difficulty=1
        gold=0
	otherlabel=_"New ally to last battle: <span color='#EFBF04'><b>White Fangs</b></span>"
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed

		#Wite Fangs
                {GENERIC_UNIT 7 (Orcish Archer) 80 19} 
		 {GENERIC_UNIT 7 (Orcish Archer) 85 24}
		 {GENERIC_UNIT 7 (Orcish Grunt) 84 23}
		 {GENERIC_UNIT 7 (Orcish Grunt) 84 24}

		 {GENERIC_UNIT 7 (Orcish Slayer) 86 20}
		 {GENERIC_UNIT 7 (Orcish Crossbowman) 79 22}
		 {GENERIC_UNIT 7 (Troll Rocklobber) 80 22}
		 {GENERIC_UNIT 7 (Troll Rocklobber) 83 27}

		[unit]
			facing="nw"
			name=_"Chief Ikhig"
			side=7
			type="Orcish Warlord"
			x=83
			y=22
			canrecruit=yes
			
		[/unit]


		#Bloody Sword
		 {GENERIC_UNIT 4 (Orcish Assassin) 83 24}
		{GENERIC_UNIT 4 (Orcish Warrior) 78 23}
		{GENERIC_UNIT 4 (Orcish Warrior) 78 22}
		{GENERIC_UNIT 4 (Orcish Warlord) 81 26}
		 {GENERIC_UNIT 4 (Orcish Slayer) 84 27}

		[unit]
			facing="se"
			side=4
			type="Orcish Warlord"
			x=84
			y=24
			canrecruit=yes
			id=assault_orc
		[/unit]
		
		
    )


    (INCOMPLETE_APPROACHED=
                    [message]
                [filter_location]
			 x,y,radius=76,22,3
		[/filter_location]
                id=assault_orc
                message= _ "We will soon defeat White Fangs and submit them to chief Rakhas! A new assault!"
            [/message]
		[message]
							speaker=talin
							message= _ "If Bloody Sword defeat White Fangs all orcs submit to chief Rakhas. It would be very unfortunate for us."
						[/message]
       
    )
    (INCOMPLETE_MOVETO=
        
            [message]
                [filter_location]
			x,y,radius=76,22,3
		[/filter_location]
                id=talin
                message= _ "Bloody Sword clan is attacking against White Fangs . We need to help White Fangs to prevent Bloody sword to become even stronger. Maybe White Fangs  even help us to defeat Bloody Sword after it."
            [/message]
		
           )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
         
		
		#Bloody Sword
		 {GENERIC_UNIT 4 (Orcish Assassin) 80 19}
		{GENERIC_UNIT 4 (Orcish Warrior) 86 20}
		{GENERIC_UNIT 4 (Orcish Warrior) 79 22}
		{GENERIC_UNIT 4 (Orcish Warlord) 83 22}
		 {GENERIC_UNIT 4 (Orcish Slayer) 84 27}
)


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "Bloody Sword defeated White Fangs. We gain nothing by fighting here."
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=76, 22, 5
         [/remove_shroud]

 	
		 {GENERIC_UNIT 7 (Orcish Slayer) 86 20}
		 {GENERIC_UNIT 7 (Orcish Crossbowman) 80 19}
		 {GENERIC_UNIT 7 (Troll Rocklobber) 82 24}

		[unit]
			facing="nw"
			name=_"Chief Ikhig"
			side=7
			type="Orcish Warlord"
			x=83
			y=22
			canrecruit=yes
			
		[/unit]
        
    )
    (JUSTCOMPLETED_START=
        
		[set_variable]
			name=whiteving_ally
			value=yes
		[/set_variable]
		[message]
			speaker=talin
			message= _ "Bloody Sword's attack is defeated and White Fangs  will come to our final battle against bloody sword."
		[/message]
		[modify_side]
			side=7
			team_name=1
		[/modify_side]					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "Bloody Sword was defeated here and will be defeated again at Glamdrol."
        [/message]
    )
	}



#enddef