#define LAKE_VRUG

#######################################################################################################################################################
#                                                                S10 - Lake Vrug
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 3} 
        	 {VARIABLE_CONDITIONAL status_s10 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s10 not_equals completed}
    {THEN(
        {VARIABLE status_s10 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] 
	{IS_TURN 1} {THEN( {VARIABLE s10_title _"Lake Vrug - 2 fights remaining"} )}
    [/if]
    [if] 
	{IS_TURN 2} {THEN( {VARIABLE s10_title _"Lake Vrug - 1 fight remaining (last chance!)"}  )} 
    [/if]
    
[/event]

#Tell redward

{PLACE_POI 47 6 s10
    SCENARIO_FILE=10_Lake_Vrug
    (PREVIEW_WML=
        title=$s10_title
        difficulty=2
        gold=1
        recruit1=units/orcs/assassin.png
        companion1="data/core/images/units/human-magi/white-mage+female.png"
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        [capture_village]   
            side=8
            x,y=47,6
            radius=4
        [/capture_village]

	#This unit should disappear when scenario is completed
        [unit]
			facing="se"
			name=_"Graditt Kon"
			side=12
			type="Drake Clasher"
			x=47
			y=7
			id=library_guard
			
	[/unit] 
	[unit]
            type=White Mage
            id=morvin
            name= _ "Brother Morvin"
		gender=male
            unrenamable=yes
            x,y=49,7
		side=10
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
		{TRAIT_CONTINGENCY_THERESSA}
            [/modifications]
        [/unit]
	[unit]
            type=White Mage
            id=sister_theressa
            name= _ "Sister Theressa"
            unrenamable=yes
		gender=female
            x,y=48,6
		side=10
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
		{TRAIT_CONTINGENCY_MORVIN}
            [/modifications]
        [/unit]

               
    )


    (INCOMPLETE_APPROACHED=
                   [message]
                [filter_location]
			 x,y,radius=47,6,3
		[/filter_location]
                id=morvin
                message= _ "We finally managed to locate magical library but orcs and drakes don't allow us to reach it. "
            [/message]
       [message]
            speaker=sister_theressa
            message= _ "Our suplies are low. Maybe we should return to Alduin and come back later."
        [/message]
	 [message]
            speaker=talin
            message= _ "I hear what you are talking. We escaped slavery and now dwarves are under undead attack. I am sure that white mages can help us."
        [/message]
	[message]
            speaker=morvin
            message= _ "We are here to explore magical library. But if you help us to do it we will join you."
        [/message]

    )
    (INCOMPLETE_MOVETO=
                   [message]
                [filter_location]
			x,y,radius=47,6,3
		[/filter_location]
                 speaker=talin
                message= _ "Drakes and orcs fight each other. We can fight our way to ruined library where we can learn."
            [/message]
        
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
           [unit]
			facing="se"
			name=_"Graditt Kon"
			side=12
			type="Drake Clasher"
			x=47
			y=7
			id=library_guard
			
	[/unit]  )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "White mages have left. It isn't worth to fight here anymore."
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=47, 6, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
         
	
	[recall]
		id=sister_theressa
	[/recall]
	[message]
            speaker=sister_theressa
            message= _ "I join you to fight against undeads but Brother Morvin want to explore library first. I ask you to help him with it."
        [/message]
	[message]
            speaker=talin
            message= _ "To library."
        [/message]
	[put_to_recall_list]
		id=sister_theressa
	[/put_to_recall_list]
					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We can now travel to library freely."
        [/message]
    )
}


#######################################################################################################################################################
#                                                                S11 - Library
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 5} 
        	 {VARIABLE_CONDITIONAL status_s11 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s11 not_equals completed}
    {THEN(
        {VARIABLE status_s11 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played


#Tell redward

{PLACE_POI 46 8 s11
    SCENARIO_FILE=11_library
    (PREVIEW_WML=
        title=_ "11 Library"
        difficulty=3
        gold=1
	preview=bigmap/preview-shroud.png
        recruit1=units/human-magi/mage.png
        companion1=units/human-magi/white-mage.png

    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        

	#This unit should disappear when scenario is completed
                  
    )


    (INCOMPLETE_APPROACHED=
       #Is done enough well in scenario 10 justcomplete
                 
    )
    (INCOMPLETE_MOVETO=
             [message]
                [filter_location]
			y,radius=18,55,3
		[/filter_location]
                 speaker=talin
                message= _ "In ruined library we can learn to recruit mages. Brother Morvin will also join us."
            [/message]
           )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to help dwarves now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=46, 8, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
        
	[message]
            speaker=talin
            message= _ "I can now recruit mages and Brother Morvin joined us."
        [/message]
	[recall]
		id=morvin
	[/recall]
	[message]
            speaker=morvin
            message= _ "Thank for your help. I want to study books that we found from that library at Alduin."
        [/message]
	[message]
            speaker=talin
            message= _ "You should join us after help that we gave."
        [/message]
	[message]
            speaker=morvin
            message= _ "Sure, I will help you to defeat undeads."
        [/message]
	[put_to_recall_list]
		id=morvin
	[/put_to_recall_list]

					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We learn lots in that library."
        [/message]
    )
}





#######################################################################################################################################################
#                                                                S14 - Save Bumcatlas
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{IS_TURN 4} 
        	 {VARIABLE_CONDITIONAL status_s14 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s14 not_equals completed}
    {THEN(
        {VARIABLE status_s14 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] 
	{IS_TURN 1}
	 {THEN( {VARIABLE s14_title _"Save Bumcatlas - 3 fights remaining"} )} 
    [/if]

    [if] 
	{IS_TURN 2}
	 {THEN( {VARIABLE s14_title _"Save Bumcatlas - 2 fights remaining"} )} 
    [/if]
    [if]
	 {IS_TURN 3} {THEN( {VARIABLE s14_title _"Save Bumcatlas - 1 fight remaining (last chance!)"}  )}
    [/if]
    
[/event]

#Tell redward

{PLACE_POI 58 10 s14
    SCENARIO_FILE=14_save_Bumacatlas 

    (PREVIEW_WML=
        title=$s14_title
        difficulty=2
        gold=1
        companion1=units/dwarves/berserker/berserker.png
	recruit1=units/dwarves/ulfserker.png
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        
	#This unit should disappear when scenario is completed
                [unit]
			facing="sw"
			name=_"Bumcatlas"
			id=bumacatlas
			side=2
			type="Dwarvish Berserker"
			x=57
			y=11
			
			
		[/unit]
		[unit]
			facing="n"
			name=_"Shugh"
			side=8
			type="Troll"
			x=60
			y=11 
			
			
		[/unit]
    )


    (INCOMPLETE_APPROACHED=
                    [message]
                [filter_location]
			 x,y,radius=58,10,3
		[/filter_location]
                id=bumacatlas
                message= _ "Axes up! Attack trolls!"
            [/message]
		[message]
							speaker=talin
							message= _ "Those ulfsekers are overnumbered by trolls. If we don't take action, they will surely die."
						[/message]
       
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                [filter_location]
			x,y,radius=58,10,3
		[/filter_location]
                id=talin
                message= _ "If we manage to save those ulfsekers, they will surely join us. I may even recruit Darwish Ulfsekers"
            [/message]
		
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "Trolls killed ulfsekers. We gain nothing by fighting here"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=58, 10, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
       
	[fire_event]
			name=recruit_ulfsekers
	[/fire_event]
	[recall]
		id=bumcatlas
	[/recall]
	[message]
            speaker=bumcatlas
            message= _ "I will help you to defeat your enemies. To next fight!"
        [/message]
	
	[put_to_recall_list]
		id=bumcatlas
	[/put_to_recall_list]



					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We saved ulfsekers here."
        [/message]
    )
}

#enddef
