#define LAKE_VRUG

#######################################################################################################################################################
#                                                                S10 - Lake Vrug
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{LUA(<<return wesnoth.current.turn==9>>)} 
        	 {VARIABLE_CONDITIONAL status_s02 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s02 not_equals completed}
    {THEN(
        {VARIABLE status_s02 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 2 season remaining"} )} [/if]
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 1 season remaining (last chance!)"}  )} [/if]
    # we don't play any approach message on turn 1. Reset approached_s02 so that we might play it on turn 2.
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN({CLEAR_VARIABLE approached_s02})} [/if]
[/event]

#Tell redward

{PLACE_POI 47 6 s10
    SCENARIO_FILE=10_Lake_Vrug
    (PREVIEW_WML=
        title=_ "10 Lake Vrug"
        difficulty=2
        gold=1
        recruit1=units/orcs/assassin.png
        recruit2=units/orcs/archer.png
        recruit3=units/orcs/grunt.png
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        [capture_village]   
            side=8
            x,y=47,6
            radius=4
        [/capture_village]

	#This unit should disappear when scenario is completed
        [unit]
			facing="se"
			name=_"Graditt Kon"
			side=12
			type="Drake Clasher"
			x=47
			y=7
			id=library_guard
			
	[/unit]                
    )


    (INCOMPLETE_APPROACHED=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            # no dialogue on first turn, so we don't overwhelm the player
        )} {ELSE(
            [message]
                {FILTER_LOCATION x,y,radius=47,6,3}
                id=talin
                message= _ "Drakes and orcs fight each other. We can fight our way to ruined library where we can learn recruit mages and found useful items"
            [/message]
        )} [/if]
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                {FILTER_LOCATION x,y,radius=18,55,3}
                race=elf
                message= _ "I’m glad you have escaped the attack, Konrad, but we cannot! Help us evade the human armies and flee our burning forest!"
            [/message]
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to attack Glamdrol now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=47, 6, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
        #Redwad from lake Vurg is handled in-scenario. This event open route to library. Macro KEEP_VICTORIES keep route open after next fight. 
	[message]
            speaker=talin
            message= _ "To library."
        [/message]

					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We can now travel to library freely."
        [/message]
    )
}


#######################################################################################################################################################
#                                                                S11 - Library
#######################################################################################################################################################

#Declairing scenario failed
[event]
    name=prestart
       [if] 
		{LUA(<<return wesnoth.current.turn==9>>)} 
        	 {VARIABLE_CONDITIONAL status_s02 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s02 not_equals completed}
    {THEN(
        {VARIABLE status_s02 failed}
    )} [/if]
[/event]

#Tell how long time this scenario can be played
[event]
    name=prestart
    [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 2 season remaining"} )} [/if]
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN( {VARIABLE s02_title _"Flight of the Elves - 1 season remaining (last chance!)"}  )} [/if]
    # we don't play any approach message on turn 1. Reset approached_s02 so that we might play it on turn 2.
    [if] {LUA(<<return wesnoth.current.turn==2>>)} {THEN({CLEAR_VARIABLE approached_s02})} [/if]
[/event]

#Tell redward

{PLACE_POI 46 8 shroud
    SCENARIO_FILE=11_library
    (PREVIEW_WML=
        title=_ "11 Library"
        difficulty=2
        gold=1
        recruit1=units/human-magi/mage.png
        
    )


    #############################
    # INCOMPLETE
    #############################
    (INCOMPLETE_PRESTART=
        

	#This unit should disappear when scenario is completed
                  
    )


    (INCOMPLETE_APPROACHED=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            # no dialogue on first turn, so we don't overwhelm the player
        )} {ELSE(
            [message]
                {FILTER_LOCATION x,y,radius=46,8,3}
                id=talin
                message= _ "In ruined library we can learn to recruit mages. There is also some useful items."
            [/message]
        )} [/if]
    )
    (INCOMPLETE_MOVETO=
        [if] {LUA(<<return wesnoth.current.turn==1>>)} {THEN(
            [message]
                {FILTER_LOCATION x,y,radius=18,55,3}
                race=elf
                message= _ "I’m glad you have escaped the attack, Konrad, but we cannot! Help us evade the human armies and flee our burning forest!"
            [/message]
        )} [/if]
    )

    #############################
    # FAILED
    #############################
    (FAILED_PRESTART=
            )


    (FAILED_MOVETO=
        [message]
            speaker=talin
            message= _ "We need to attack Glamdrol now!"
        [/message]
    )

    #############################
    # COMPLETED
    #############################

    (COMPLETED_PRESTART=
	[remove_shroud]
              				      x,y,radius=46, 8, 5
         [/remove_shroud]
        
    )
    (JUSTCOMPLETED_START=
        #Redwad from lake Vurg is handled in-scenario. This event open route to library. Macro KEEP_VICTORIES keep route open after next fight. 
	[message]
            speaker=talin
            message= _ "I can now recruit mages."
        [/message]

					
	
    )
    (COMPLETED_MOVETO=
        [message]
            speaker=talin
            message= _ "We learn lots in that library."
        [/message]
    )
}



#enddef
