#textdomain wesnoth-NRO



[scenario]
  	  name= _ "Openworld  Later"
	id=openwordl_later
	map_data="{~add-ons/NR_openword/maps/openwordl.map}"
	turns=-1
	victory_when_enemies_defeated=no
	next_scenario=null
	
	# variable battles_fight tell how many scenarios have been played



[side]
		controller="human"
		fog=no
		gold=0
		hidden=no
		save_id=talin
		income=0
		no_leader=no
		share_vision="all"
		shroud=yes
		side=1
		team_name=alliance
		user_team_name=_"Talin"
	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=no
		share_vision="all"
		shroud=no
		side=2
		team_name=alliance
		   color=brown # dirt=brown
		user_team_name=_"Dwarves"
		 {FLAG_VARIANT knalgan}

	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=yes
		income=0
		no_leader=no
		share_vision="all"
		shroud=no
		side=3
		team_name=undead
		user_team_name=_"Undead"
	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=no
		share_vision="all"
		shroud=no
		side=4
		team_name=Bloody_Sword
		user_team_name=_"Bloody sword clan"
	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=5
		team_name=wildlife
		user_team_name=_"Wild animals"
	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		side=6
		share_vision="all"
		shroud=no
		  color=brightgreen # forests=brightgreen
		team_name=elves
		user_team_name=_"Elves"
		{FLAG_VARIANT wood-elvish}

	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=no
		share_vision="all"
		shroud=no
		side=7
		team_name=white_fangs
		user_team_name=_"White Fangs"
	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=8
		team_name=orcs
		user_team_name=_"Indepandent orc tribes"
	[/side]
	[side]
		controller="null"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=9
		team_name=saurians
		user_team_name=_"Saurians"
	[/side]
	[side]
		controller="ai"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=10
		team_name=alliance
		user_team_name=_"Wesnoth"
	[/side]
	[side]
		controller="ai"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=11
		team_name=alliance
		user_team_name=_"Elensefar"
	[/side]
	[side]
		controller="ai"
		fog=no
		gold=100
		hidden=no
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=12
		team_name=drakes
		user_team_name=_"Drakes"
	[/side]

	#add some units and labels	
		{LATERPRESTART}	
	#Differrent batles that player can play	
		{LATE_EAST}
		{WEST}
	#Some battles from first part
		{FACING_LICH}
	

	[event]
		name=prestart
		[objectives]
			[objective]
				description= _ "Gain new allies"
				condition=win
				[show_if]
					[not]
           			         {IS_TURN 9}
					[/not]
        		        [/show_if]
			[/objective]
			[objective]
				description= _ "Defeat Bloody Sword."
				condition=win
			[/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			note= _ "You need to face Bloody sword in final battle in turn 9"
		[/objectives]
	[/event]
	 # Start event

	[event]
		name=start
		[modify_turns]
         		   value,current=-1, $battles_fight
 	       [/modify_turns]
		[unit]
			facing="ne"
			name=_"Talin"
			side=1
			type="Peasant"
			id=talin
			x=$herox
			y=$heroy
			canrecruit=yes
		[/unit]
			{TALIN_OVERWORLD_MODIFICATIONS}			
	#add Decwynyc
		[if]
			[variable]
					name=degwynyc_joined
					equals=no
			[/variable]


			[then]
		[unit]
			facing="ne"
			name=_"Degwynyc"
			side=10
			type="Duelist"
			id=degwynyc
			x=49
			y=39
			[modifications]
        		        {TRAIT_LOYAL}
        		        {TRAIT_RESILIENT}
        		[/modifications]

			
		[/unit]
			[/then]
		[/if]

	# Make moving from Knalga to Gryphons faster
	[item]
	x, y = 53, 15
	image= scenery/trapdoor-open.png
	[/item]
	[item]
	x, y = 62, 15
	image= scenery/trapdoor-open.png
	[/item]

	[tunnel]
		[filter]
			
		[/filter]
		[source]
		x, y = 53, 15
		[/source]
		[target]
		x,y = 62, 15
		[/target]
	[/tunnel]
	[tunnel]
		[filter]
			
		[/filter]
		[source]
		x, y = 62, 15
		[/source]
		[target]
		x,y = 53, 15
		[/target]
	[/tunnel]
	
	#don't allow player to gain gold or attack by disabling ending turn
	[disallow_end_turn]
	[/disallow_end_turn]

[/event]

# Give back talin's mp
	[event]
            name=moveto
            first_time_only=no
            [filter]
		id=talin
		[/filter]
       	[modify_unit]
		[filter]
			id=talin
		[/filter]
			attacks_left=0
			moves=70
	[/modify_unit]

        [/event]

	
#Wesmere event

[event]
		name=enter hex
			[filter]
				id=talin
				[filter_adjacent]
					role="wesmere_guard"
				[/filter_adjacent]
			[/filter]	
			[message]
				speaker=talin
				message= _ "We escape from slavery and defeated a lich. Now Bloody Sword is uniting orcs and prepraining war. Can elves of Wesmere help us?"
			[/message]
				[if]
					[have_unit]
						side=1
						id=captured_elf
						search_recall_list=yes
					[/have_unit]
					[then]
						[unit]
							id=captured_elf
							side=1
							x, y = 31, 21
						[/unit]
						[remove_shroud]
              				    		  x,y,radius=31, 21, 5
         					[/remove_shroud]
						[message]
							speaker=captured_elf
							message= _ "As Lady of Wesmere I gave what a little Wesmere can do. Maybe my relatives in Lintar can do more?"
						[/message]
						[if]
					[variable]
						name=treasury_stealed
						equals=yes
					[/variable]
					[then]
						[message]
							speaker=wesmere_elf
							message= _ "Those traitorous humans helped saurians to steal oue treasury."
						[/message]
						[message]
							speaker=talin
							message= _ "We feared that our treasury would fall hands of Bloody Sword."
						[/message]
						[message]
							speaker=captured_elf
							message= _ "In that case, we are now unable to help you."
						[/message]
					[/then]
					[else]

						[fire_event]
							name=recruit_elves
						[/fire_event]
						[modify_side]
							side=6
							team_name=alliance
						[/modify_side]
					[/else]
						[/if]
					[/then]
					[else]
						[message]
							speaker=wesmere_elf
							message= _ "As Lady of Wesmere is captured by Bloody Sword, we can't do anything against them."
						[/message]
						[message]
							speaker=wesmere_elf
							message= _ "If you manage to free her, you are welcome to my castle."
						[/message]
					[/else]
				[/if]
		[/event]
		
	
	# Recruit Decwynyc
		
	[event]
		name=sighted
			[filter]
				id=degwynyc
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
			[message]
				speaker=degwynyc
				message= _ "If you need capable fighter, I can join your troops. Cost only 50 gold"
			[/message]
		[message]
			speaker=talin
			message= _ "I will."
			[option]
				label= _ "Pay 50 gold"
				[command]
					[gold]
						side=1
						amount=-50
					[/gold]
					[modify_unit]
						[filter]
							id=degwynyc
						[/filter]
						side=1
					[/modify_unit]
					[set_variable]
						name=degwynyc_joined
						value=yes
					[/set_variable]

				[/command]
			[/option]
			[option]
				label= _ "Don't pay"
			[/option]
		[/message]
	[/event]

#Bloody Sword attack against Knalga
	[event]
		name=turn 7
		[if]
			{VARIABLE_CONDITIONAL rakhas_attack not_equals done}
			[then]
		[message]
			speaker=narrator
			message= _ "While Tallin was fighting, Bloody Sword started it's own assault agains Knalga."
		[/message]
		[set_variable]
			name=herox
			value=49
		[/set_variable]
		[set_variable]
			name=heroy
			value=19
		[/set_variable]
		[set_variable]
			name=battles_fight
			add=1
		[/set_variable]

		[endlevel]
                        result=victory
                        next_scenario=22_doors
                        bonus=no
                        carryover_report=no
                        replay_save=no
                        linger_mode=no
                        reveal_map=no
                        {NEW_GOLD_CARRYOVER 100}
                 [/endlevel]
			[/then]
		[/if]
	[/event]


# Time to go to face Bloody sword
	[event]
			name=turn 9
			[unit]
				type=Dwarvish Scout
				side=2
				x, y= 54, 12
				id=messanger
			[/unit]
			[move_unit]
				id=messanger
				to_x=$herox
				to_y=$heroy
			[/move_unit]
			[message]
				speaker=messanger
				message= _ "Lord Hamel is on march to Glamdrol with dwarvish army. Together we can defeat Bloody Sword."
			[/message]
		#messangers from optional allies: Wesnoth (wesnoth_ally=yes) and White Fangs  (whiteving_ally=yes)
			[if]
					[variable]
						name=wesnoth_ally
						equals=yes
					[/variable]
			[then]
				[unit]
					type=Dragoon
					side=10
					x, y= 50, 38
					id=messanger2
				[/unit]
				[move_unit]
					id=messanger2
					to_x=$herox
					to_y=$heroy
				[/move_unit]
				[message]
					speaker=messanger2
					message= _ "Wesnoth has sent troops to Glamdarol to help you defeat Bloody Sword."
				[/message]
			[/then]
		[/if]
		[if]
					[variable]
						name=whiteving_ally
						equals=yes
					[/variable]
			[then]
				[unit]
					type=Wolf Rider
					side=7
					x, y= 82, 22
					id=messanger3
				[/unit]
				[move_unit]
					id=messanger3
					to_x=$herox
					to_y=$heroy
				[/move_unit]
				[modify_side]
					side=7
					team_name=alliance
				[/modify_side]
	
				[message]
					speaker=messanger3
					message= _ "Chief Ikhig is on march to Glamdarol to defeat Bloody Sword."
				[/message]
			[/then]
		[/if]
			[message]
				speaker=talin
				message= _ "Our allies are on march to Glamdrol. Time to face Bloody Sword in final batle."
			[/message]
		[/event]
		
		#If you don't go
		[event]
			name=turn 10
			[message]
				speaker=talin
				message= _ "Bloody sword killed dwarves. We cannot win alone."
			[/message]

			[endlevel]
        	 	   result=defeat
             	  	 [/endlevel]
		[/event]


		

	#Other redwards
	{NEWRECRUIT recruit_thunders (Dwarvish Thunderer) (We mined gold and monster food. Now I can recruit Darwish Thenderes.)}
	{NEWRECRUIT recruit_cyphon    (Gryphon Rider) (We captured many cryphons and now I can recruit Cryphon riders.)}
	{NEWRECRUIT recruit_grunts (Orcish Grunt, Orcish Archer) (We conviced this small tibe to join us. Now I can recruit Orc Grunts and Orcish Archer)}
	{NEWRECRUIT recruit_darwes (Dwarvish Scout, Dwarvish Fighter) (Karrag accept help his kin in Knalga. I can now recruit Darwish souts and warriors, but I should go to help Knalga fast.)}
	{NEWRECRUIT recruit_ulfsekers (Dwarvish Ulfserker) (They joined us and I can recruit Darwish Ulfsekers now)}
	{NEWRECRUIT recruit_saurians (Saurian Skirmisher, Saurian Augur) (Saurians accepted! Now I can recruit Saurian skirmishers and Saurian augurs)}
	{NEWRECRUIT recruit_elves (Elvish Archer, Elvish Fighter,Elvish Shaman, Elvish Scout ) (With permission of Lady of Wesmere, we can now recruit elves.)}
	{NEWRECRUIT recruit_mages (Mage) (We learned in library how to train mages. Now I can recruit them.)}
	{NEWRECRUIT recruit_assasins (Orcish Assassin) (Avo allow us to recruit Orcish assasins.)}
[/scenario]
