[scenario]

	id=overworld 
	name= _ "Overworld"
	map_data="{~add-ons/NR_openword/maps/openwordl.map}"
	turns=-1
	victory_when_enemies_defeated=no
	next_scenario=openwordl_later
	
	# variable battles_fight tell how many scenarios have been played




 [side]
        side=1
        controller=human
        recruit=Peasant,Woodsman
	save_id=talin
        gold=0
        team_name=alliance
	shroud=yes
        user_team_name= _ "Talin"
        {FLAG_VARIANT6 ragged}
[/side]
[side] #----dwarves
        side=2
        controller=null
        color=brown # dirt=brown
        hidden=yes
        no_leader=yes
        team_name=alliance
        {FLAG_VARIANT knalgan}
    [/side]
	[side] #----undead
        side=3
        controller=null
        color=white
        hidden=yes
        no_leader=yes
        {FLAG_VARIANT undead}
    [/side]
 [side] #----bloody swords
        side=4
        controller=null
        color=purple
        hidden=yes
        no_leader=yes
    [/side]
[side] #----Wild animals
        side=5
        controller=null
        color=orange
        hidden=yes
        no_leader=yes
        {FLAG_VARIANT6 ragged}
    [/side]
[side] #----elves
        side=6
        controller=null
        color=brightgreen # forests=brightgreen
        hidden=yes
        no_leader=yes
        team_name=konrad
        {FLAG_VARIANT wood-elvish}
    [/side]
[side] #----whitefangs
        side=7
        controller=null
        color=white
        hidden=yes
        no_leader=yes
        {FLAG_VARIANT6 ragged}
    [/side]
[side] #----fell-hand clan
        side=8
        controller=null
        color=brown
        hidden=yes
        no_leader=yes
        {FLAG_VARIANT6 ragged}
    [/side]
[side] #----saurians
        side=9
        controller=null
        color=brightgreen
        hidden=yes
        no_leader=yes
        {FLAG_VARIANT6 ragged}
    [/side]
[side] #----Wesnoth
        side=10
        controller=null
        color=wesred
        hidden=yes
        no_leader=yes
	team_name=alliance
        {FLAG_VARIANT loyalist}
    [/side]
[side] # ----Elensefar
        side=11
        controller=null
        color=teal # same as Kaylan's color in the original HttT
        hidden=yes
        no_leader=yes
        team_name=konrad
        {FLAG_VARIANT loyalist}
    [/side]
[side] #----Drakes
        side=12
        controller=null
        color=yellow
        hidden=yes
        no_leader=yes
        team_name=konrad
    [/side]

	#add some units and labels
		{PRESTART}	

	#Differrent batles that player can play
		{LAKE_VRUG}
		{EARLY_EAST}
		{CENTRAL_AREA}
		{FACING_LICH}

	[event]
		name=prestart
		[objectives]
			[objective]
				description= _ "Help Buithfur to defend NOW!"
				condition=win
				[show_if]
           			        {IS_TURN 3}
					{VARIABLE_CONDITIONAL status_s2 not_equals in_progress}
       					{VARIABLE_CONDITIONAL status_s2 not_equals completed}
        		        [/show_if]
			[/objective]
			[objective]
				description= _ "Explore Heart mountains."
				condition=win
				[show_if]
					[not]
           			         {IS_TURN 5}
					[/not]
        		        [/show_if]
			[/objective]
			[objective]
				description= _ "Destroy source of undeads."
				condition=win
			[/objective]
			[objective]
				description= _ "Death of Talin"
				condition=lose
			[/objective]
			[objective]
				description= _ "Undeads defeat dwarves"
				condition=lose
				[show_if]
       					{VARIABLE_CONDITIONAL status_s2 not_equals in_progress}
       					{VARIABLE_CONDITIONAL status_s2 not_equals completed}
        		        [/show_if]
			[/objective]
			note= _ "Move to any marked hex to start battle."
		[/objectives]
	[/event]

# Start event

	[event]
		name=start
		[modify_turns]
         		   value,current=-1, $battles_fight
 	       [/modify_turns]		
				
	#add Decwynyc
		[if]
			[variable]
					name=degwynyc_joined
					equals=no
			[/variable]


			[then]
		[unit]
			facing="ne"
			name=_"Degwynyc"
			side=10
			type="Duelist"
			id=degwynyc
			x=49
			y=39
			[modifications]
                		{TRAIT_LOYAL}
               			 {TRAIT_RESILIENT}
          		[/modifications]

			
		[/unit]
			[/then]
		[/if]

	# Make moving from Knalga to Gryphons faster
	[item]
	x, y = 53, 15
	image= scenery/trapdoor-open.png
	[/item]
	[item]
	x, y = 62, 15
	image= scenery/trapdoor-open.png
	[/item]

	[tunnel]
		[filter]
			
		[/filter]
		[source]
		x, y = 53, 15
		[/source]
		[target]
		x,y = 62, 15
		[/target]
	[/tunnel]
	[tunnel]
		[filter]
			
		[/filter]
		[source]
		x, y = 62, 15
		[/source]
		[target]
		x,y = 53, 15
		[/target]
	[/tunnel]
	
	#don't allow player to gain gold or attack by disabling ending turn
	[disallow_end_turn]
	[/disallow_end_turn]

	[/event]

# Give back talin's mp
	[event]
            name=moveto
            first_time_only=no
            
       	[modify_unit]
		[filter]
			id=talin
		[/filter]
			attacks_left=0
			moves=70
	[/modify_unit]

        [/event]


#First turn event
	[event]
		name=turn 1
		[unit]
			facing="ne"
			name=_"Talin"
			side=1
			type="Peasant"
			id=talin
			x=50
			y=18
			canrecruit=yes
		[/unit]
			{TALIN_OVERWORLD_MODIFICATIONS}
			[remove_shroud]
          			  x,y=50, 18
            			radius=5
       			[/remove_shroud]
			[message]
				speaker=talin
				message= _ "We defeated both orcs. Move all supplies that you find into the tunnels. We need to find the dwarves of Knalga"
			[/message]
			[move_unit]
				id=talin
				to_x=47
				to_y=15
			[/move_unit]
			[message]
				speaker=talin
				message= _ "Dwarves are under undead attack!"
			[/message]
		[/event]

#Wesmere event
	[event]
		name=sighted
			[filter]
				id=wesmere_elf
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
			[message]
				speaker=talin
				message= _ "We escape from slavery. Dwarves of Knalga are under undead attack. Can elves of Wesmere help us?"
			[/message]
			[message]
							speaker=wesmere_elf
							message= _ "As Lady of Wesmere is captured by Bloody Sword, we can't do anything against them. We have neither power to go against undeads outside of our forest."
						[/message]
						[message]
							speaker=wesmere_elf
							message= _ "If you manage to free her, you are welcome to my castle."
						[/message]
					
		[/event]

	
#Hamel sighted

	[event]
			name=sighted
			[filter]
				id=hamel
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
					[if]
					[variable]
						name=battles_fight
						equals=1
					[/variable]
						[then]			
						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery"
						[/message]
						[message]
							speaker=hamel
							message= _ "Good to see you. We are in desparate position now. But as you are there we may be able to take back some of our mines."
						[/message]
						[message]
							speaker=hamel
							message= _ "You can also try to contact Kal-Kartha. It lies North-East from here. Mayby they can help us."
						[/message]
						[message]
							speaker=talin
							message= _ "We can also try to find other allies."
						[/message]
						[message]
							speaker=hamel
							message= _ "Maybe. But we will need your help there soon."
						[/message]
						[/then]
					[elseif]
						[variable]
							name=battles_fight
							equals=2
						[/variable]
						[then]
						[message]
							speaker=hamel
							message= _ "Good to see you. We are in desparate position now. But as you are there we may be able to take back some of our mines."
						[/message]
						[/then]
					[/elseif]
					[elseif]
						[variable]
							name=battles_fight
							equals=6
						[/variable]
						[then]
							[message]
								speaker=hamel
								message= _ "We need to destroy lich now. Go to west and help us in battle."
							[/message]
						[/then]
					[/elseif]
				[/if]

	[/event]

# Orc tribe event
	[event]
		name=sighted
		first_time_only=no
			[filter]
				id=warlord
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
		
			[message]
				speaker=talin
				message= _ "If we seem powerful enough we might convice this small orc tribe to join us. They are under threat of Black Sword and undead nearly as much as we."
			[/message]
				[if]
					[variable]
						name=drakes_defeated
						equals=clifss_of_thoria
					[/variable]
					[then]
						[message]
							speaker=warlord
							message= _ "It is nice to have powerful allies. "
						[/message]
					[/then]
					[else]
						[message]
								speaker=talin
								message= _ "If we seem powerful enough we might convice this small orc tribe to join us. They are under threat of Black Sword and undead nearly as much as we."
							[/message]
							[message]
								speaker=warlord
								message= _ "Why we would ally with weak pinkskins like you?"
							[/message]
							[message]
								speaker=talin
								message= _ "How you would want us to show our might. Mayby defeating drakes would be a good way?"
							[/message]
							[message]
								speaker=warlord
								message= _ "Yes, defeat drakes at Clifs of Thoria and we will ally with you."
							[/message]
					[/else]
				[/if]
		[/event]

#Hint for s8 eleves treasury
#If player has played s8 elves treasury, bossibility to recrruit saurians with discount

		[event]
			name=sighted
			[filter]
				id=friend_of_salizz
			[/filter]
			[filter_second]
				side=1
			[/filter_second]	
					[if]
					[variable]
						name=treasury_stealed
						equals=no
					[/variable]
					[then]		
						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
						[/message]
						[message]
							speaker=friend_of_salizz
							message= _ "Our weaponsss don't make much damage againsst undeadss. But my fried salizz can help train your troppsss. Yess sshe hasss ssome humansss under her command"
						[/message]
						[message]
							speaker=talin
							message= _ "That will help a lot."
						[/message]
						[message]
							speaker=friend_of_salizz
							message= _ "You need only help her to sstole treassury of wessmere. Gold to her, training to you. Go to wesst and you will found her."
						[/message]
					[/then]
					[elseif]
						[variable]
							name=saurians_recruited
							equals=no
						[/variable]
						[then]
					[message]
							speaker=friend_of_salizz
							message= _ "Thankss for helping Salizz."
					[/message]
					[message]
						speaker=unit
						message= _ "If you want to recruit saurians I can help now. Pay 250 gold and we can give saurianss  under your command. Both augurs and skirmishers. Disscount for your help to my friend."
					[/message]
				[message]
							speaker=talin
							message= _ "So I can pay 250 gold to recruit saurians. It might be useful invetement especially if we lack healers."
			

			[option]
				label= _ "Pay 250 gold to saurians"
				[command]
					 [store_gold]
            					side=1
           					 variable=buyer_gold
        				[/store_gold]
       					 [if]
          					  [variable]
            						 name=buyer_gold
               						 less_than=250
            					[/variable]

       						 [then]
                					[message]
                   						 speaker=unit
                    						message= _ "You don't have enough gold. Come back when you have 250 gold."
               						 [/message]
        						[/then]
        						[else]

					[gold]
						side=1
						amount=-250
					[/gold]
					[fire_event]
						name=recruit_saurians
					[/fire_event]
					[set_variable]
						name=saurians_recruited
						value=yes
					[/set_variable]
							[/else]
					[/if]
				[/command]
			[/option]
			[option]
				label= _ "Don't pay"
			[/option]
		[/message]
						[/then]
					[/elseif]
					[else]
						[message]
							speaker=friend_of_salizz
							message= _ "Thankss again for help. Augurss and skirmissherss fight under your command."
						[/message]
					[/else]
	
			[/if]
	[/event]


#Saurian event	
	[event]
		name=sighted
			[filter]
				race=lizard
				[not]
					id=friend_of_salizz
				[/not]
			[/filter]
			[filter_second]
				side=1
			[/filter_second]

			[if]
					[variable]
						name=saurians_recruited
						equals=no
					[/variable]

					[then]
						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
						[/message]
			[message]
				speaker=unit
				message= _ "Our weaponsss don't make much damage againsst undeadss. But our augurss can heal. Pay 300 gold and we can give saurianss  under your command. Both augurs and skirmishers."
			[/message]
			[message]
							speaker=talin
							message= _ "So I can pay 300 gold to recruit saurians. It might be useful invetement especially if we lack healers."
			

			[option]
				label= _ "Pay 300 gold to saurians"
				[command]
				 	[store_gold]
           					 side=1
           					 variable=buyer_gold
       					[/store_gold]
     					[if]
            					[variable]
               						 name=buyer_gold
                					less_than=300
           					[/variable]

        					[then]
               						 [message]
                    						speaker=unit
                    						message= _ "You don't have enough gold. Come back when you have 300 gold."
              						  [/message]
        					[/then]
       						 [else]

					[gold]
						side=1
						amount=-300
					[/gold]
					[fire_event]
						name=recruit_saurians
					[/fire_event]
					[set_variable]
						name=saurians_recruited
						value=yes
					[/set_variable]
						[/else]
					[/if]
				[/command]
			[/option]
			[option]
				label= _ "Don't pay"
			[/option]
		[/message]
			
			[/then]
		[/if]
	
	[/event]


#Whitewing event
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x=75-79
			y=21-25
		[/filter]
		[message]
			speaker=talin
			message= _ "Whitewings are most powerful tribe that has not subjucated to Bloody Sword. We will gain nothing by fight against them."
		[/message]
		[move_unit]
			id=talin
			to_x=74
			to_y=19
		[/move_unit]
	[/event]

		
#Ford Abez
	[event]
		name=moveto
		first_time_only=no
		[filter]
			y=25-35
			x=45-52
		[/filter]
		[message]
			speaker=talin
			message= _ "Bloody Sword's blockade at ford Abez is too strong to us now."
		[/message]
		[move_unit]
			id=talin
			to_x=50
			to_y=18
		[/move_unit]
	[/event]

	#Singpost
	[event]
		name=moveto
		[filter]
			x=76
			y=16
		[/filter]
		[message]
			speaker=narrator
			message= _ "North- Kal Kartha
East- Clifs of Thoria"
		[/message]
	[/event]


#Dwarves need help
			[event]
				name=turn 3
				[if]
					[variable]
						name=route_open
						equals=no
					[/variable]
					[then]
			[unit]
				type=Dwarvish Scout
				side=2
				x, y= 54, 12
				id=messanger
			[/unit]
			[move_unit]
				id=messanger
				to_x=$herox
				to_y=$heroy
			[/move_unit]
			[message]
				speaker=messanger
				message= _ "We need now help against undead!"
			[/message]
			[message]
				speaker=talin
				message= _ "I come to help."
			[/message]


						
						[/then]
					[else]
						[message]
							speaker=talin
							message= _ "Only two battles and we need to face the lich."
						[/message]
					[/else]
				[/if]
		[/event]
	#If you don't help dwarves
		[event]
    		name=turn 4
       [if] 
        	 {VARIABLE_CONDITIONAL status_s2 not_equals in_progress}
       		  {VARIABLE_CONDITIONAL status_s2 not_equals completed}
    {THEN(
       			[message]
				speaker=talin
				message= _ "Undeads killed dwarves. We cannot win alone."
			[/message]
			[endlevel]
        	 	   result=defeat
             	  	 [/endlevel]

    )} [/if]
[/event]

				
		#Time to defeat Malifor. 
		[event]
			name=turn 5
			[unit]
				type=Dwarvish Scout
				side=2
				x, y= 54, 12
				id=messanger
			[/unit]
			[move_unit]
				id=messanger
				to_x=$herox
				to_y=$heroy
			[/move_unit]
			[message]
				speaker=messanger
				message= _ "Lord Hamel ordered Buitfur to destroy the lich now."
			[/message]

			[message]
				speaker=talin
				message= _ "Time to face the lich."
			[/message]
		[/event]

		

#Other redwards
	{NEWRECRUIT recruit_thunders (Dwarvish Thunderer) (We mined gold and monster food. Now I can recruit Darwish Thunderes.)}
	{NEWRECRUIT recruit_grunts (Orcish Grunt, Orcish Archer, Wolf Rider) (We conviced this small tibe to join us. Now I can recruit Orc Grunts and and archers)}
	{NEWRECRUIT recruit_darwes (Dwarvish Scout, Dwarvish Fighter) (Karrag accept help his kin in Knalga. I can now recruit Darwish souts and warriors, but I should go to help Knalga fast.)}
	{NEWRECRUIT recruit_saurians (Saurian Skirmisher, Saurian Augur) (Saurians accepted! Now I can recruit Saurian skirmishers and Saurian augurs)}
	{NEWRECRUIT recruit_outlaws (Footpad, Thug, Poacher) (We learn fighting skils from outlaws. I can now recruit Footbads, Thugs and Poachers.)}
	{NEWRECRUIT recruit_mages (Mage) (We learned in library how to train mages. Now I can recruit them.)}
	{NEWRECRUIT recruit_assasins (Orcish Assassin) (Avo allow us to recruit Orcish assasins.)}
	{NEWRECRUIT recruit_ulfsekers (Dwarvish Ulfserker) (We can now contunue our journey)}

	
[/scenario]
