#textdomain wesnoth-NRO

#define TALIN_OVERWORLD_MODIFICATIONS

	[modify_unit]
		[filter]
			id=talin
		[/filter]
			attacks_left=0
		#Inside this object all changes that are made to Tallin as long as he stay in overworld view.
		[object]
			duration=scenario
			[effect]
			
				apply_to=movement_costs
				replace=yes
			
				[movement_costs]
          		       		shallow_water,reef= , 
                			flat,sand,frozen=1,1,1
      	         			village,castle=1,2
					deep_water,swamp_water= ,
                	 	 	forest,hills,mountains,unwalkable= , , , 
        	      		  [/movement_costs]
			[/effect]
			[effect]
				apply_to=new_ability
				[abilities]
       					 {ABILITY_SKIRMISHER}
  				 [/abilities]
			[/effect]
		[/object]
	[/modify_unit]
#enddef

#define PLACE_POI X Y SNUM
#arg SCENARIO_FILE
#endarg
#arg PREVIEW_WML
#endarg
#arg CONDITION
    [true]
[/true]#endarg


#arg INCOMPLETE_PRESTART
#endarg
#arg APPROACH_RADIUS
4#endarg
#arg INCOMPLETE_APPROACHED
#endarg
#arg INCOMPLETE_MOVETO
#endarg
#arg INCOMPLETE_BEFORE_SCENARIO
#endarg
#arg INCOMPLETE_MOVETO_CANCEL
#endarg

#arg FAILED_PRESTART
#endarg
#arg FAILED_MOVETO
#endarg

#arg COMPLETED_PRESTART
#endarg
#arg COMPLETED_MOVETO
#endarg
#arg JUSTCOMPLETED_PRESTART
#endarg
#arg JUSTCOMPLETED_START
#endarg
    #############################
    # INCOMPLETE
    #############################
    [event]
        name=prestart
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals $null} )}
        {FILTER_CONDITION( {CONDITION} )}
	{PLACE_IMAGE bigmap/poi-battle.png {X} {Y}}
        {INCOMPLETE_PRESTART}
    [/event]
    # approach event. This triggers before moveto, even if APPROACH_RADIUS=0
    [event]
        name=enter hex
        first_time_only=yes
        {FILTER( side=1 
		[filter_location]
			 x,y,radius={X},{Y}, 3
		[/filter_location] )}
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals $null} )}
	{FILTER_CONDITION( {VARIABLE_CONDITIONAL approached_{SNUM} equals $null} )}
        {FILTER_CONDITION( {CONDITION} )}
        [cancel_action]
        [/cancel_action]
        [lift_fog]
            {FILTER_SIDE side=1}
            x,y={X},{Y}
            radius=3
        [/lift_fog]
        [remove_shroud]
            {FILTER_SIDE side=1}
            x,y={X},{Y}
            radius=3
        [/remove_shroud]
        {VARIABLE approached_{SNUM} yes} # do this before {INCOMPLETE_APPROACHED}, so that we can choose to clear it if we want
        {VARIABLE previous_x $x2}{VARIABLE previous_y $y2} # normally these would be event variables, but we need to set them manually so that 'preview_poi_{SNUM}' gets them
        {INCOMPLETE_APPROACHED}
    [/event]

    # moveto event (preview the battle)
    [event]
        name=enter hex
        first_time_only=no
        {FILTER id,x,y=talin,{X},{Y}}
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals $null} )}
        {FILTER_CONDITION( {CONDITION} )}
        {VARIABLE previous_x $x2}{VARIABLE previous_y $y2} # normally these would be event variables, but we need to set them manually so that 'preview_poi_{SNUM}' gets them
        {FIRE_EVENT_UNIT preview_poi_{SNUM} id=$unit.id}
    [/event]
    [event]
        name=preview_poi_{SNUM}
        first_time_only=no # event name is used in other places
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals $null} )}
        {FILTER_CONDITION( {CONDITION} )}
        

        {IF} {VARIABLE_CONDITIONAL skip_next_poi_moveto equals yes} {THEN(
            {CLEAR_VARIABLE skip_next_poi_moveto}
        )} {ELSE(
            [cancel_action]
            [/cancel_action]

            # execute arg moveto WML
            {INCOMPLETE_MOVETO}

            {IF} {VARIABLE_CONDITIONAL skip_next_poi_moveto equals yes} {THEN(
                {CLEAR_VARIABLE skip_next_poi_moveto}
            )} {ELSE(
                # preview scenario
                [display_scenario_preview]
                    {PREVIEW_WML}
                    scenario={SNUM}
                [/display_scenario_preview]
                {IF} {VARIABLE_CONDITIONAL status_{SNUM} equals in_progress} {THEN(
                    {INCOMPLETE_BEFORE_SCENARIO}
			[set_variable]
				name=battles_fight
				add=1
			[/set_variable]
			[set_variable]
				name=herox
				value={X}
			[/set_variable]
			[set_variable]
				name=heroy
				value={Y}
			[/set_variable]

                    [endlevel]
                        result=victory
                        next_scenario={SCENARIO_FILE}
                        bonus=no
                        carryover_report=no
                        replay_save=no
                        linger_mode=no
                        reveal_map=no
                        {NEW_GOLD_CARRYOVER 100}
                    [/endlevel]
                )} {ELSE(
                    {MOVE_UNIT id=$unit.id $previous_x $previous_y}
                    {INCOMPLETE_MOVETO_CANCEL}
		[modify_unit]
			{FILTERTALIN}
			moves=7
		[/modify_unit]
                )} {/IF}
            )} {/IF}
            {CLEAR_VARIABLE previous_x,previous_y}
        )} {/IF}
    [/event]
    #############################
    # FAILED
    #############################
    [event]
        name=prestart
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals failed} )}
        {FILTER_CONDITION( {CONDITION} )}
        {PLACE_IMAGE bigmap/poi-failed.png {X} {Y}}
        {FAILED_PRESTART}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        {FILTER id,x,y=talin,{X},{Y}}
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals failed} )}
        {FILTER_CONDITION( {CONDITION} )}
        {FAILED_MOVETO}
    [/event]
    #############################
    # COMPLETED
    #############################
    # just barely completed
    [event]
        name=prestart # this happens 1st
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals in_progress} )}
        {FILTER_CONDITION( {CONDITION} )}
        [remove_shroud]
            {FILTER_SIDE side=1}
            x,y={X},{Y}
            radius=5
        [/remove_shroud]
        [lift_fog]
            {FILTER_SIDE side=1}
            x,y={X},{Y}
            radius=5
            multiturn=yes
        [/lift_fog]
        {SCROLL_TO {X} {Y}}
        {JUSTCOMPLETED_PRESTART}
        [event]
            name=start # this happens 3rd
            {FILTER_CONDITION( {CONDITION} )}
            [delay]
		time=500
	[/delay]
		{RECALL_XY talin {X} {Y}}
           	 {JUSTCOMPLETED_START}
		{TALIN_OVERWORLD_MODIFICATIONS}
        [/event]
        {VARIABLE status_{SNUM} completed}
    [/event]
    # completed, either now or earlier
    [event]
        name=prestart # this happens 2nd
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals completed} )}
        {FILTER_CONDITION( {CONDITION} )}
        {PLACE_IMAGE bigmap/poi-completed.png {X} {Y}}
        {COMPLETED_PRESTART}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        {FILTER id,x,y=talin,{X},{Y}}
        {FILTER_CONDITION( {VARIABLE_CONDITIONAL status_{SNUM} equals completed} )}
        {FILTER_CONDITION( {CONDITION} )}
        {COMPLETED_MOVETO}
    [/event]
#enddef
