#define HERODEATHS

#Talin
	[event]
		name=last_breath
		[filter]
			id=talin
		[/filter]
		[message]
			spaeker=talin
			message= _ "Now we will never be free..."
		[/message]
		[endlevel]
        	    result=defeat
       	 
                [/endlevel]
	[/event]

	[event]
		name=prestart
		
		[if]
					[have_unit]
						type=Peasant
						id=talin
					[/have_unit]
					[then]
	#Give Talin special advancement
	[modify_unit]
		[filter]
			id=talin
		[/filter]
		[effect]
			apply_to=new_advancement
			types=Sergeant
			replace=yes
		[/effect]
		
	[/modify_unit]
	
	
					[/then]
		[/if]
	[/event]


#Bumcatlas
	[event]
		name=last_breath
		[filter]
			id=bumcatlas
		[/filter]
		[message]
			speaker=bumcatlas
			message= _ "At least I die fighting!"
		[/message]
	[/event]

#Camerin, from original NR
	[event]
		name=last_breath
		[filter]
			id=camerin
		[/filter]
		[message]
          		  speaker=camerin
        		    message= _ "What... how can this happen?"
       		 [/message]

      		  [message]
        		    speaker=talin
        		    message= _ "He was stark raving mad, but we are sure going to miss him."
        	[/message]
	[/event]

#Zlex
	[event]
		name=last_breath
		[filter]
			id=Zlex
		[/filter]
		[message]
          		  speaker=Zlex
        		    message= _ "I saw this coming ... Lead our people to freedom, Tallin."
       		 [/message]

      		  [message]
        		    speaker=talin
        		    message= _ "I will."
        	[/message]
	[/event]

#Lady of Wesmere
	[event]
		name=last_breath
		[filter]
			id=captured_elf
		[/filter]
		[message]
          		  speaker=captured_elf
        		    message= _ "My time has come."
       		 [/message]
		#po Eryssa is from Wesmere and Lady of Wesmere just died
		[message]
          		  speaker=eryssa
        		    message= _ "No, My Lady!"
       		 [/message]
      		  [message]
        		    speaker=talin
        		    message= _ "No! I don't want lose you. We need your healing skills. "
        	[/message]
	[/event]

#Degwynyc
	[event]
		name=last_breath
		[filter]
			id=degwynyc
		[/filter]
		[message]
          		  speaker=degwynyc
        		    message= _ "This is my last fight."
       		 [/message]

      		  [message]
        		    speaker=talin
        		    message= _ "His skills in sword was unmatched. We are sure going to miss him."
        	[/message]
	[/event]


#Yddyn
	[event]
		name=last_breath
		[filter]
			id=yddyn
		[/filter]
		[message]
          		  speaker=yddyn
        		    message= _ "I die with honor."
       		 [/message]

      	[/event]

#Eryssa
	[event]
		name=last_breath
		[filter]
			id=eryssa
		[/filter]
		[message]
			#po Eryssa is from Wesmere
          		  speaker=eryssa
        		    message= _ "Talin, remember to help Wesmere."
       		 [/message]

      		  [message]
        		    speaker=talin
        		    message= _ "I will defeat Bloody Sword."
        	[/message]
	[/event]

#Krash
	[event]
		name=last_breath
		[filter]
			id=Krash
		[/filter]
		[message]
          		  speaker=Krash
        		    message= _ "I feel cold..."
       		 [/message]

      	[/event]


#Father Morvin
	[event]
		name=last_breath
		first_time_only=no
		[filter]
			id=morvin
		[/filter]
		[if]
					[have_unit]
						id=sister_theressa
					[/have_unit]
					[then]

						[put_to_recall_list]
							id=morvin
						[/put_to_recall_list]
						
						[floating_text]
          						  x,y,text=$x1, $y1,"<span color='#ffffff' size='x-small'>" + _"Contingency" + "</span>"
      						[/floating_text]
						[modify_unit]
            						[filter]
								id=morvin
							[/filter]
        						hitpoints=41 # for some reason {FULL_HEAL} doesn't work here
            
					        [/modify_unit]


					[/then]
					[else]
						[message]
							speaker=morvin
							message= _ "Theressa, I need you ..."
						[/message]
					[/else]

		[/if]

	[/event]

#Sister Theressa
	[event]
		name=last_breath
		first_time_only=no

		[filter]
			id=sister_theressa
		[/filter]
		[if]
					[have_unit]
						id=morvin
					[/have_unit]
					[then]
						[put_to_recall_list]
							id=sister_theressa
						[/put_to_recall_list]
						
						[floating_text]
          						  x,y,text=$x1, $y1,"<span color='#ffffff' size='x-small'>" + _"Contingency" + "</span>"
      						[/floating_text]
						[modify_unit]
            						[filter]
								id=sister_theressa
							[/filter]
        						hitpoints=41 # for some reason {FULL_HEAL} doesn't work here
            
					        [/modify_unit]

					[/then]
					[else]
						[message]
							speaker=morvin
							message= _ "Morvin, I need you ..."
						[/message]
					[/else]

		[/if]

	[/event]


#enddef