#textdomain wesnoth-NRO




#define NEWRECRUIT NAME RECRUIT MESSAGE
[event]
		name={NAME}

		[allow_extra_recruit]
				id=talin
				extra_recruit={RECRUIT}
		[/allow_extra_recruit]
		[message]
			speaker=talin
			message= _ "{MESSAGE}"
		[/message]
	[/event]
#enddef



 

#define RECALLCOMPANIONS

	#possible companions here
        [recall]
            id=camerin
        [/recall]
        [recall]
            id=bumcatlas
        [/recall]
        [recall]
            id=Zlex # id with Capital letter
        [/recall]
        [recall]
            id=captured_elf
        [/recall]
	[recall]
		id=degwynyc
	[/recall]
	[recall]
		id=yddyn
	[/recall]
	[recall]
		id=eryssa
	[/recall]
	[recall]
		id=Krash # id with Capital letter
	[/recall]
	[recall]
		id=morvin
	[/recall]
	[recall]
		id=sister_theressa
	[/recall]

#enddef



#define FILTERTALIN
	[filter]
		id=talin
	[/filter]
#enddef

#define FILTER FILTER
	[filter]
		{FILTER}
	[/filter]
#enddef
	
#define SETVARIABLES

				[set_variable]
					name=route_open
					value=no
				[/set_variable]
				[set_variable]
					name=drakes_defeated
					value=no
				[/set_variable]
				[set_variable]
					name=battles_fight
					value=1
				[/set_variable]
				[set_variable]
					name=doors_free
					value=no
				[/set_variable]
				[set_variable]
					name=treasury_stealed
					value=no
				[/set_variable]
			
				[set_variable]
					name=degwynyc_joined
					value=no
				[/set_variable]
				[set_variable]
					name=saurians_recruited
					value=no
				[/set_variable]
				[set_variable]
                   	 		  name=campaing_part
                    		       value=first
      				[/set_variable]


				#This variables will tell allies in last scenario
					[set_variable]
						name=wesnoth_ally
						value=no
					[/set_variable]
					[set_variable]
						name=whiteving_ally
						value=no
					[/set_variable]
					 [set_variable]
                             			   name=Seraeran_allied
                       			         value=no
      					  [/set_variable]
					[set_variable]
                             			   name=lintar_allied
                       			         value=no
      					  [/set_variable]
						
	#enddef

#define BOOK X Y
	[event]
        	name=moveto
    	    	[filter]
			side=1
		[/filter]
		[filter]
			x= {X}
			y= {Y}
		[/filter]
	        [message]
			speaker=narrator
			message= _ "You found useful book."
	[/message]
		[set_variable]
					name=books_found
					add=1
		[/set_variable]
		[remove_item]
					[filter]
						x={X}
						y={Y}
					[/filter]
		[/remove_item]

	   [/event]

	[event]
		name=prestart
		{PLACE_IMAGE items/book3.png {X} {Y}}
	[/event]
#enddef





	#This macro taken from original NR

	#define PLACE_PRISONER_IMAGE IMAGE X Y
   		 {PLACE_IMAGE "{IMAGE}~RC(magenta>red)~BLIT(items/cage.png)" {X} {Y}}
	#enddef

	
	#Also this is from original NR

#define TREASURY_GOLD_EVENT _X _Y _AMOUNT _MESSAGE
    [event]
        name=moveto
        [filter]
            x,y={_X},{_Y}
            side=1
        [/filter]

        [message]
            speaker=unit
            message={_MESSAGE}
        [/message]

        [sound]
            name=gold.ogg
        [/sound]

        [gold]
            side=1
            amount={_AMOUNT}
        [/gold]

        [floating_text]
            x,y={_X},{_Y}
            color=225,225,25
            text={_AMOUNT}
        [/floating_text]

        [remove_item]
            x,y=$x1,$y1
        [/remove_item]
    [/event]
#enddef


	# This macro is taken from Heir 2 the trone

#define SILENTLY_LIMIT_LEADER_MOVES SIDE MOVES
    [event]
        name=side {SIDE} turn refresh
        first_time_only=no
        id=limit_moves_leader{SIDE}
        # only limit moves if we're already standing on a keep - otherwise we might get stuck somewhere far away
        [filter_condition]
            [have_unit]
                side={SIDE}
                canrecruit=yes
                [filter_location]
                    terrain=K*^*,*^K*
                [/filter_location]
            [/have_unit]
        [/filter_condition]

	   # opened macro from core
	[store_unit]
        [filter]
            side={SIDE}
		canrecruit=yes
        [/filter]

        variable=MODIFY_UNIT_store
        kill=yes
    [/store_unit]

    [foreach]
        array=MODIFY_UNIT_store
        [do]
            [set_variable]
                name=this_item.moves
                value={MOVES}
            [/set_variable]

            [unstore_unit]
                variable=this_item
                find_vacant=no
            [/unstore_unit]
        [/do]
    [/foreach]

    {CLEAR_VARIABLE MODIFY_UNIT_store}

    [/event]
#enddef
 
#define FIRE_EVENT_UNIT NAME FLT
    # 
    [fire_event]
        name={NAME}
        [primary_unit]
            {FLT}
        [/primary_unit]
    [/fire_event]
#enddef

#define IS_TURN TURN
	[variable]
						name=battles_fight
						equals={TURN}
	[/variable]
#enddef


#define ABILITY_ARCANE
    [damage_type]
        id=arcane_damage_blessing
        name= _ "arcane blessing"
        description= _ "All attacks combine the arcane type with the type of the weapon used, so that resistance to arcane does not penalize the user."
        special_note=_ "This unit’s weapons are treated as arcane instead of the declared damage type if that would increase the damage."
        alternative_type=arcane
        affect_self=yes
    [/damage_type]
#enddef

#define TRAIT_CONTINGENCY_MORVIN
    [trait]
        id=contingency_morvin

        male_name= _ "contingency_morvin"
        female_name= _ "female^contingency_morvin"
	
        description= _ "<i>Contingency Morvin</i> When this unit is on battlefield, Father Morvin will return safely to recall list instead of diying."
        #Dummy trait, event is in HERODEATHS. Meant to make things more clear to player

    [/trait]
#enddef

#define TRAIT_CONTINGENCY_THERESSA
    [trait]
        id=contingency_theressa

        male_name= _ "contingency_theressa"
        female_name= _ "female^contingency_theressa"
	
        description= _ "<i>Contingency Theressa</i> When this unit is on battlefield, Sister Theressa will return safely to recall list instead of diying."
        #Dummy trait, event is in HERODEATHS. Meant to make things more clear to player

    [/trait]
#enddef