#textdomain wesnoth-NRO


#Macro which includes all sighted events of Openworld first part

#define SIGHTED_EVENTS

#Wesmere event
	[event]
		name=sighted
			[filter]
				id=wesmere_elf
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
			[message]
				speaker=talin
				message= _ "We escape from slavery. Dwarves of Knalga are under undead attack. Can elves of Wesmere help us?"
			[/message]
				[if]
					[have_unit]
						side=1
						id=captured_elf
						search_recall_list=yes
					[/have_unit]
					[then]
						[unit]
							id=captured_elf
							side=1
							x, y = 31, 21
						[/unit]

						[message]
							speaker=captured_elf
							message= _ "As Lady of Wesmere I gave what a little Wesmere can do. Maybe my relatives in Lintar can do more?"
						[/message]
						[if]
					[variable]
						name=treasury_stealed
						equals=yes
					[/variable]
					[then]
						[message]
							speaker=wesmere_elf
							message= _ "Those traitorous humans helped saurians to steal oue treasury."
						[/message]
						[message]
							speaker=talin
							message= _ "We feared that our treasury would fall hands of Bloody Sword."
						[/message]
						[message]
							speaker=captured_elf
							message= _ "In that case, we are now unable to help us."
						[/message]
					[/then]
					[else]

						[fire_event]
							name=recruit_elves
						[/fire_event]
						[modify_side]
							side=6
							team_name=alliance
						[/modify_side]
					[/else]
						[/if]
					[/then]
					[else]
						[message]
							speaker=wesmere_elf
							message= _ "As Lady of Wesmere is captured by Bloody Sword, we can't do anything against them. We have neither power to go against undeads outside of our forest."
						[/message]
						[message]
							speaker=wesmere_elf
							message= _ "If you manage to free her, you are welcome to my castle."
						[/message]
					[/else]
				[/if]
		[/event]

	
#Hamel

	[event]
			name=sighted
			[filter]
				id=hamel
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
					[if]
					[variable]
						name=battles_fight

						equals=1
					[/variable]
						[then]			
						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery"
						[/message]
						[message]
							speaker=hamel
							message= _ "Good to see you. We are in desparate position now. But as you are there we may be able to take back some of our mines."
						[/message]
						[message]
							speaker=hamel
							message= _ "You can also try to contact Kal-Kartha. It lies North-East from here. Mayby they can help us."
						[/message]
						[message]
							speaker=talin
							message= _ "We can also try to find other allies."
						[/message]
						[message]
							speaker=hamel
							message= _ "Maybe. But we will need your help there soon."
						[/message]
						[/then]
					[elseif]
						[variable]
							name=battles_fight
							equals=2
						[/variable]
						[then]
						[message]
							speaker=hamel
							message= _ "Good to see you. We are in desparate position now. But as you are there we may be able to take back some of our mines."
						[/message]
						[/then]
					[/elseif]
					[elseif]
						[variable]
							name=battles_fight
							equals=4
						[/variable]
						[then]
							[message]
								speaker=hamel
								message= _ "We need to destroy lich now. Go to west and help us in battle."
							[/message]
						[/then]
					[/elseif]
				[/if]

	[/event]

# Orc tribe event
	[event]
		name=sighted
		first_time_only=no
			[filter]
				id=warlord
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
		
			[message]
				speaker=talin
				message= _ "If we seem powerful enough we might convice this small orc tribe to join us. They are under threat of Black Sword and undead nearly as much as we."
			[/message]
				[if]
					[variable]
						name=drakes_defeated
						equals=yes
					[/variable]
					[then]
						[message]
							speaker=warlord
							message= _ "Are you those pinkskins that defeated drakes. In that case we can ALLY with you."
						[/message]
						[message]
							speaker=narrator
							message= _ "You can now recruit Orcish grunts and archers."
						[/message]
						[fire_event]
							name=recruit_grunts
						[/fire_event]
					[remove_item]
						[filter]
							x=70
							y=16
						[/filter]
					[/remove_item]
					[/then]
					[else]
						[message]
							speaker=warlord
							message= _ "Why we would ally with weak pinkskins like you?"
						[/message]
						[message]
							speaker=talin
							message= _ "We need to show them our might. Mayby defeating drakes would be a good way?"
						[/message]
					[/else]
				[/if]
		[/event]

	#Hint for eleves treasury

		[event]
			name=sighted
			[filter]
				id=friend_of_salizz
			[/filter]
			[filter_second]
				side=1
			[/filter_second]	
					[if]
					[variable]
						name=treasury_stealed
						equals=no
					[/variable]
					[then]		
						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
						[/message]
						[message]
							speaker=friend_of_salizz
							message= _ "Our weaponsss don't make much damage againsst undeadss. But my fried salizz can help train your troppsss. Yess sshe hasss ssome humansss under her command"
						[/message]
						[message]
							speaker=talin
							message= _ "That will help a lot."
						[/message]
						[message]
							speaker=friend_of_salizz
							message= _ "You need only help her to sstole treassury of wessmere. Gold to her, training to you. Go to wesst and you will found her."
						[/message]
					[/then]
					[else]
					[message]
							speaker=friend_of_salizz
							message= _ "Thankss for helping Salizz."
					[/message]
					[message]
						speaker=unit
						message= _ "If you want to recruit saurians I can help now. Pay 250 gold and we can give saurianss  under your command. Both augurs and skirmishers. Disscount for your help to my friend."
					[/message]
				[message]
							speaker=talin
							message= _ "So I can pay 250 gold to recruit saurians. It might be useful invetement especially if we lack healers."
			

			[option]
				label= _ "Pay 250 gold to saurians"
				[command]
					[gold]
						side=1
						amount=-250
					[/gold]
					[fire_event]
						name=recruit_saurians
					[/fire_event]
				[/command]
			[/option]
			[option]
				label= _ "Don't pay"
			[/option]
		[/message]
	
					[/else]
			[/if]
	[/event]


#Saurian event	
	[event]
		name=sighted
			[filter]
				race=lizard
				[not]
					id=friend_of_salizz
				[/not]
			[/filter]
			[filter_second]
				side=1
			[/filter_second]

			[if]
				[not]
					[have_unit]
						side=1
						race=lizard
						search_recall_list=yes
					[/have_unit]
				[/not]
					[then]
						[message]
							speaker=talin
							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
						[/message]
			[message]
				speaker=unit
				message= _ "Our weaponsss don't make much damage againsst undeadss. But our augurss can heal. Pay 300 gold and we can give saurianss  under your command. Both augurs and skirmishers."
			[/message]
			[message]
							speaker=talin
							message= _ "So I can pay 300 gold to recruit saurians. It might be useful invetement especially if we lack healers."
			

			[option]
				label= _ "Pay 300 gold to saurians"
				[command]
					[gold]
						side=1
						amount=-300
					[/gold]
					[fire_event]
						name=recruit_saurians
					[/fire_event]
					[remove_item]
					[filter]
						x=64
						y=21
					[/filter]
				[/remove_item]
				[/command]
			[/option]
			[option]
				label= _ "Don't pay"
			[/option]
		[/message]
			
			[/then]
		[/if]
	
	[/event]

# Kal-Kartha

	
		[event]
			name=sighted

			[filter]
				id=dulcatos
			[/filter]
			[filter_second]
				side=1
			[/filter_second]	
					[if]
					 #player has not played Kal-Kartha scenario
					[variable]
						name=kal_kartha
						equals=no
					[/variable]
						[then]
							[message]
								speaker=dulcatos
								message= _ "Who approach Kal-Kartha?"
							[/message]
							[message]
								speaker=talin
								message= _ "We are peasants from Dwarven Doors. Knalga is under undead attack so Hamel sent us to seek help of Kal-Kartha."
							[/message]
							[message]
								speaker=dulcatos
								message= _ "I need to ask Lord Karrag can we give help to Knalga."
							[/message]
							[message]
								speaker=narrator
								message= _ "Dulcatos go to meet Karrag and return soon."
							[/message]
							[message]
								speaker=dulcatos
								message= _ "Karrag accepted to help his kin in Knalga but he want you to get rid of some monsters first."
							[/message]
						[/then]
						[else]
							[message]
								speaker=dulcatos
								message= _ "We have gave you help. Now go to help Knalga."
							[/message]
						[/else]
					[/if]
		[/event]

#drakes event

#	[event]
#			name=sighted
#			[filter]
#				id=drake
#			[/filter]
#			[filter_second]
#				side=1
#			[/filter_second]
#		[if]
#			 #player has not played Klifs of Thoria scenario
#					[variable]
#						name=drakes_defeated
#						equals=no
#					[/variable]
#						[then]
#
#						[message]
#							speaker=talin
#							message= _ "We are peasants from Dwarven Door and we manged to escape slavery. We seek allies against undeads now."
#						[/message]
#			[message]
#				speaker=drake
#				message= _ "Stay away humans if you value your lives."
#			[/message]
#			[message]
#				speaker=talin
#				message= _ "They will not help us. But defeating drakes would make us good impression to orcs."
#			[/message]
#						[/then]
#		[/if]
#	[/event]

# Malifor event If dark branch is ever created it can start from this event

[event]
			name=sighted
			[filter]
				id=malifor
			[/filter]
			[filter_second]
				side=1
			[/filter_second]
				#[message]
        			#    speaker=malifor
           			#	 message= _ "HAHAHAHA! HAHAHA!"
      				#[/message]
				#[message]
				#	speaker=talin
				#	message= _ "That lich is most likely summoned undeads causing problems us now. Once it is destroyed all other undeads will fall."
				#[/message]
[/event]

#enddef
